<!DOCTYPE html>
<html>
<head>
${include_themes}
<link rel="stylesheet" href="${resourcePath}/resource/themes/default/css/pub_form.css"/>
<link rel="stylesheet" href="${resourcePath}/resource/themes/css/font-awesome.min.css" media="print"/>
<link rel="stylesheet" href="${resourcePath}/resource/themes/default/css/plugins/jqgrid/ui.jqgrid.css" media="print"/>
<link rel="stylesheet" href="${resourcePath}/resource/themes/default/css/pub_print.css" media="print"/>
<!-- <link rel="stylesheet" href="${resourcePath}/resource/themes/css/bootstrap-select.css"> -->


<style type="text/css">
.iBox {
	padding: 8px !important;
	color: black !important;
	font-weight: 300 !important;
}
.Interval{
	padding-left: 0px !important;
}
.headerColor{
	background-color: #f3f3f4 !important;
}
.label_Header{
	background-color : #EDEDED !important;
	color : blue !important;
	margin-top: 0px;
	padding: 5px;
} 
.ibox-content{
	padding: 0px;
}
.laber_group{
	padding-left: 0px;
}
a {
text-decoration:none !important;
}
.character{
	float: left
}
.form-control-inline {
    width:30%;
    display:inline;
}

.classPadding{
	padding : 6px 12px;
	margin-top:8px !important;
	margin-bottom:8px !important;
}

</style>


</head>

<body class="iframeNoScrollBar">
<#assign auth="com.yss.fast.webplus.shiro.AuthTag"?new()>
<div class="ibox float-e-margins">
     <div id="header" class="ibox-title gray-bg paddingTB">
        <div id="tab-1" class="tab-pane active">
		<div class="panel-body">
			<div class="col-sm-12 head-table" role="group">
				<div id="_basicSearch" class="basicSearch">
					<ul>
						<li class="basicSearchAdv">
							<#if auth('user:insert')>
								<a href="#" id="btnAdd" title="添加"><i class="fa fa-plus"></i>添加</a>
							</#if>
							<#if auth('user:update')>
								<a href="#" id="btnEdit" title="修改"><i class="fa fa-file-text-o"></i>修改</a>
							</#if>
							<#if auth('user:copy')>
								<a href="#" id="btnCopy" title="复制"><i class="glyphicon glyphicon-duplicate"></i>复制</a>
							</#if>
							<#if auth('user:delete')>
								<a href="#" id="btnDelete" title="删除"><i class="glyphicon glyphicon-trash"></i>删除</a>
							</#if>
							<#if auth('user:check')>
								<a href="#" id="btnCheck" title="审核"><i class="glyphicon glyphicon-check"></i>审核</a>
							</#if>
							<#if auth('user:uncheck')>
								<a href="#" id="btnUncheck" title="反审核"><i class="glyphicon glyphicon-compressed"></i>反审核</a>
							</#if>
							<#if auth('user:export')>
								<a href="#" id="btnExport" title="导出"><i class="glyphicon glyphicon-open-file"></i>导出</a>
							</#if>
							<#if auth('user:print')>
								<a href="#" id="btnPrint" title="打印" onclick="print()"><i class="glyphicon glyphicon-print"></i>打印</a>
							</#if>
							<a href="#" id="btnHelp" title="帮助" ><i class="glyphicon glyphicon-question-sign"></i>帮助</a>
			    		</li>
			    		<!-- basicSearch form start -->
			    		<div class="basicSearchRight">
			    		<div class="inline-left" >
			    		<form id="searchForm" modelAttribute="role" action="${bundlePath}/formdata" method="post" class="form-inline" onsubmit="return false;">
				    		<div id="conditon1" class="input-group input-group-sm">
								
							</div>
							<div id="conditon2" class="input-group input-group-sm">
							
							</div>
							<div class="input-group input-group-sm">
								<select class="form-control" id="N_CHECK_STATE" name="N_CHECK_STATE">
									<option value="">全部数据</option>
									<option value="1">已审核</option>
									<option value="0">未审核</option>
								</select>
							</div>
								<div class="input-group input-group-sm">
									<button id="btnSearch" title="查询">
										<i class="fa fa-search"></i>查询
									</button>
								</div>
						</form>
						</div>
						<div class="inline-left">
						<form>
						<button id="_advSearchBtn" style="float:right;" class="dropdown-toggle" data-toggle="dropdown" title="更多">
							<i class="fa fa-th-large"></i>更多
						</button>
			    		<!-- basicSearch form end -->
   						<ul class="dropdown-menu" style="width:500px;">
	                       	<li><div class="gap" style="height:15px;"><h5><i class="fa fa-caret-square-o-down"></i>高级检索</h5></div></li>
	                       	<li>
	                       		<div class="input-group input-group-sm gap" data-stopPropagation="true">
		                       		<button id="btnAddRow" title="添加" type="button">
										<i class="fa fa-plus"></i>添加
									</button>
		                       		<button id="btnSearch2" title="查询" type="button">
										<i class="fa fa-search"></i>查询
									</button>
									<button id="btnReset" title="重置" data-stopPropagation="true" type="button">
										<i class="glyphicon glyphicon-share-alt"></i>重置
									</button>
								</div>
	                       	</li>
	                        <li style="margin-top: 5px;" data-stopPropagation="true">
	                        	<div class="input-group input-group-sm gap">
									<select class="form-control" id="operationType" name="operationType" style="width:80px;">
										<option value="and">并</option>
										<option value="or">或</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="${listHead[1].name}" name="${listHead[1].name}" placeholder="条件1" />
									<select class="form-control" id="operationType" name="operationType" style="width:80px;">
										<option value="eq">等于</option>
										<option value="ne">不等</option>
										<option value="lt">小于</option>
										<option value="le">小于等于</option>
										<option value="gt">大于</option>
										<option value="ge">大于等于</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="${listHead[2].name}" name="${listHead[2].name}" placeholder="条件2" />
									<a href="#" onclick="delrow(this)"><i class="fa fa-times-circle" style="margin:10px 10px 10px 10px;"></i></a>
								</div>
	                        </li>
                    	</ul>
                    	</form>
                    	</div>
                    	</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	<div id="table_div" class="jqGrid_wrapper">
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
    
<!-- toolbar start 注意class名称要准确！！！ -->
	<div id="toolbar" style="display:none;">
		<a class="layui-layer-add" href="javascript:;" title="添加"><i class="fa fa-plus" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-edit" href="javascript:;" title="修改"><i class="fa fa-edit" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-copy" href="javascript:;" title="复制"><i class="fa fa-copy" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-delete" href="javascript:;" title="删除"><i class="fa fa-trash-o" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-save" href="javascript:;" title="保存"><i class="fa fa-save" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-undo" href="javascript:;" title="撤销"><i class="fa fa-undo" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<!-- <a class="layui-layer-up" href="javascript:;" title="上移"><i class="fa fa-arrow-up" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-down" href="javascript:;" title="下移"><i class="fa fa-arrow-down" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a> -->
		<a class="layui-layer-close layui-layer-close1" href="javascript:;" title="关闭"><i class="fa fa-close" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
	</div>
<!-- toolbar end -->

	<div id="form_id" style="display: none;">
		<div >
			<div>
				<div class="col-sm-12">
					<div class="ibox-content table-form">
						<input type="hidden" id="id" name="id" value="" class="form-control" type="text">
						<input type="hidden" id="operate" name="operate" value="" class="form-control" type="text">
						<form class="form-horizontal m-t form-inlineRemould" id="signupForm" onsubmit="return false;">
							${form_content}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
${include_js}

<script type="text/javascript">
	
	var strItem = ${form_item};
	var myobj = eval(strItem);
	var listHead = new Array();
	var element = {header : 'ID', name : 'id', hidden : true};
	listHead.push(element);
	$.each(myobj, function(index, value){
		var name = value.c_NAME;
		var code = value.c_CODE;
		var isShow = value.n_SHOW;
		if(isShow == 1){
			element = {header : name, name : code, width : 200};
		} else {
			element = {header : name, name : code, hidden : true};
		}
		listHead.push(element);
	});

	$('#conditon1').append("<input type='text' class='form-control' name='"+listHead[1].name+"' placeholder='请输入"+listHead[1].header+"' />");
	$('#conditon2').append("<input type='text' class='form-control' name='"+listHead[2].name+"' placeholder='请输入"+listHead[2].header+"' />");
	
</script>

	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/validate/messages_zh.min.js"></script>
	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/mask/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/layer/laydate/laydate.js"></script>
	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/jquery/jQuery.print.js"></script>
	
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/ueditor/ueditor.all.js"> </script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/ueditor/formdesign/leipi.formdesign.v4.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/ueditor/formdesign/leipi.form.build.core.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/formBuild.js"></script>
	<!-- <script type="text/javascript" src="${resourcePath}/resource/js/plugins/bootstrap/bootstrap-select.js"></script> -->
	
	<script type="text/javascript" src="${bundlePath}/resource/js/module/form/formitem.js?v=${_v}"></script>


</body>
</html>
