<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.GridInfoMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.GridInfo">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FGRID_CODE" property="gridCode" jdbcType="VARCHAR" />
		<result column="FCOLUMN_CODE" property="columnCode" jdbcType="VARCHAR" />
		<result column="FCOLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
		<result column="FPROPERTY" property="property" jdbcType="VARCHAR" />
		<result column="FIS_LIST" property="isList" jdbcType="BIT" />
		<result column="FIS_SHOW" property="isShow" jdbcType="BIT" />
		<result column="FIS_FORM" property="isForm" jdbcType="BIT" />
		<result column="FIS_EDIT" property="isEdit" jdbcType="BIT" />
		<result column="FWIDTH" property="width" jdbcType="INTEGER" />
		<result column="FCOLSPAN" property="colspan" jdbcType="INTEGER" />
		<result column="FROWSPAN" property="rowspan" jdbcType="INTEGER" />
		<result column="FLEVEL" property="level" jdbcType="INTEGER" />
		<result column="FALIGN" property="align" jdbcType="VARCHAR" />
		<result column="FQUERY_STATE" property="queryState" jdbcType="INTEGER" />
		<result column="FQUERY_TYPE" property="queryType" jdbcType="VARCHAR" />
		<result column="FDICT_TYPE" property="dictType" jdbcType="VARCHAR" />
		<result column="FFORMAT" property="format" jdbcType="VARCHAR" />
		<result column="FREQUIRED" property="required" jdbcType="BIT" />
		<result column="FMIN_LENGTH" property="minLength" jdbcType="INTEGER" />
		<result column="FMAX_LENGTH" property="maxLength" jdbcType="INTEGER" />
		<result column="FMIN_VALUE" property="minValue" jdbcType="VARCHAR" />
		<result column="FMAX_VALUE" property="maxValue" jdbcType="VARCHAR" />
		<result column="FVALIDATE_TYPE" property="validateType" jdbcType="VARCHAR" />
		<result column="FWIDGET_ID" property="widgetId" jdbcType="VARCHAR" />
		<result column="FIS_PK" property="isPk" jdbcType="BIT" />
		<result column="FIS_NULL" property="isNull" jdbcType="BIT" />
		<result column="FIS_INSERT" property="isInsert" jdbcType="BIT" />
		<result column="FJAVA_TYPE" property="javaType" jdbcType="VARCHAR" />
		<result column="FJDBC_TYPE" property="jdbcType" jdbcType="VARCHAR" />
		<result column="FORDER" property="order" jdbcType="INTEGER" />
		<result column="FREMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.rules != null and criteria.rules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.rules" item="item">
									<choose>
										<when test="item.isNoValue()">
											${criteria.op} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isListValue()">
											${criteria.op} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.groups != null and criteria.groups.size() &gt; 0">
							${criteria.gop}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.groups" item="groupItem">
									<if test="groupItem.rules != null and groupItem.rules.size() &gt; 0">
										${criteria.rgop}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.rules" item="ruleItem">
												<choose>
													<when test="ruleItem.isNoValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
													</when>
													<when test="ruleItem.isSingleValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value}
													</when>
													<when test="ruleItem.isBetweenValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value} and #{ruleItem.secondValue}
													</when>
													<when test="ruleItem.isListValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
														<foreach collection="ruleItem.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FGRID_CODE, FCOLUMN_CODE, FCOLUMN_NAME, FPROPERTY, FIS_LIST, FIS_SHOW, FIS_FORM, FIS_EDIT, FWIDTH, FCOLSPAN, FROWSPAN, FLEVEL, FALIGN, FQUERY_STATE, FQUERY_TYPE, FDICT_TYPE, FFORMAT, FREQUIRED, FMIN_LENGTH, FMAX_LENGTH, FMIN_VALUE, FMAX_VALUE, FVALIDATE_TYPE, FWIDGET_ID, FIS_PK, FIS_NULL, FIS_INSERT, FJAVA_TYPE, FJDBC_TYPE, FORDER, FREMARK 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FGRID_CODE&quot;)">
						FGRID_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FCOLUMN_CODE&quot;)">
						FCOLUMN_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FCOLUMN_NAME&quot;)">
						FCOLUMN_NAME, 
					</if>
					<if test="!filterColumns.contains(&quot;FPROPERTY&quot;)">
						FPROPERTY, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_LIST&quot;)">
						FIS_LIST, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_SHOW&quot;)">
						FIS_SHOW, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_FORM&quot;)">
						FIS_FORM, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_EDIT&quot;)">
						FIS_EDIT, 
					</if>
					<if test="!filterColumns.contains(&quot;FWIDTH&quot;)">
						FWIDTH, 
					</if>
					<if test="!filterColumns.contains(&quot;FCOLSPAN&quot;)">
						FCOLSPAN, 
					</if>
					<if test="!filterColumns.contains(&quot;FROWSPAN&quot;)">
						FROWSPAN, 
					</if>
					<if test="!filterColumns.contains(&quot;FLEVEL&quot;)">
						FLEVEL, 
					</if>
					<if test="!filterColumns.contains(&quot;FALIGN&quot;)">
						FALIGN, 
					</if>
					<if test="!filterColumns.contains(&quot;FQUERY_STATE&quot;)">
						FQUERY_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FQUERY_TYPE&quot;)">
						FQUERY_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_TYPE&quot;)">
						FDICT_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FFORMAT&quot;)">
						FFORMAT, 
					</if>
					<if test="!filterColumns.contains(&quot;FREQUIRED&quot;)">
						FREQUIRED, 
					</if>
					<if test="!filterColumns.contains(&quot;FMIN_LENGTH&quot;)">
						FMIN_LENGTH, 
					</if>
					<if test="!filterColumns.contains(&quot;FMAX_LENGTH&quot;)">
						FMAX_LENGTH, 
					</if>
					<if test="!filterColumns.contains(&quot;FMIN_VALUE&quot;)">
						FMIN_VALUE, 
					</if>
					<if test="!filterColumns.contains(&quot;FMAX_VALUE&quot;)">
						FMAX_VALUE, 
					</if>
					<if test="!filterColumns.contains(&quot;FVALIDATE_TYPE&quot;)">
						FVALIDATE_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FWIDGET_ID&quot;)">
						FWIDGET_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_PK&quot;)">
						FIS_PK, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_NULL&quot;)">
						FIS_NULL, 
					</if>
					<if test="!filterColumns.contains(&quot;FIS_INSERT&quot;)">
						FIS_INSERT, 
					</if>
					<if test="!filterColumns.contains(&quot;FJAVA_TYPE&quot;)">
						FJAVA_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FJDBC_TYPE&quot;)">
						FJDBC_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FORDER&quot;)">
						FORDER, 
					</if>
					<if test="!filterColumns.contains(&quot;FREMARK&quot;)">
						FREMARK 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select
		<include refid="Base_Column_List" />
		from ect_grid_info
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select 
		<include refid="Base_Column_List" />
		from ect_grid_info
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_grid_info
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_grid_info
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.model.Parameter">
		delete from ect_grid_info
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.GridInfo">
		insert into ect_grid_info (FID, FGRID_CODE, FCOLUMN_CODE, FCOLUMN_NAME, FPROPERTY, FIS_LIST, FIS_SHOW, FIS_FORM, FIS_EDIT, FWIDTH, FCOLSPAN, FROWSPAN, FLEVEL, FALIGN, FQUERY_STATE, FQUERY_TYPE, FDICT_TYPE, FFORMAT, FREQUIRED, FMIN_LENGTH, FMAX_LENGTH, FMIN_VALUE, FMAX_VALUE, FVALIDATE_TYPE, FWIDGET_ID, FIS_PK, FIS_NULL, FIS_INSERT, FJAVA_TYPE, FJDBC_TYPE, FORDER, FREMARK )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{gridCode, jdbcType=VARCHAR}, 
			#{columnCode, jdbcType=VARCHAR}, 
			#{columnName, jdbcType=VARCHAR}, 
			#{property, jdbcType=VARCHAR}, 
			#{isList, jdbcType=BIT}, 
			#{isShow, jdbcType=BIT}, 
			#{isForm, jdbcType=BIT}, 
			#{isEdit, jdbcType=BIT}, 
			#{width, jdbcType=INTEGER}, 
			#{colspan, jdbcType=INTEGER}, 
			#{rowspan, jdbcType=INTEGER}, 
			#{level, jdbcType=INTEGER}, 
			#{align, jdbcType=VARCHAR}, 
			#{queryState, jdbcType=INTEGER}, 
			#{queryType, jdbcType=VARCHAR}, 
			#{dictType, jdbcType=VARCHAR}, 
			#{format, jdbcType=VARCHAR}, 
			#{required, jdbcType=BIT}, 
			#{minLength, jdbcType=INTEGER}, 
			#{maxLength, jdbcType=INTEGER}, 
			#{minValue, jdbcType=VARCHAR}, 
			#{maxValue, jdbcType=VARCHAR}, 
			#{validateType, jdbcType=VARCHAR}, 
			#{widgetId, jdbcType=VARCHAR}, 
			#{isPk, jdbcType=BIT}, 
			#{isNull, jdbcType=BIT}, 
			#{isInsert, jdbcType=BIT}, 
			#{javaType, jdbcType=VARCHAR}, 
			#{jdbcType, jdbcType=VARCHAR}, 
			#{order, jdbcType=INTEGER}, 
			#{remark, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.GridInfo">
		insert into ect_grid_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="gridCode != null">
				FGRID_CODE,
			</if>
			<if test="columnCode != null">
				FCOLUMN_CODE,
			</if>
			<if test="columnName != null">
				FCOLUMN_NAME,
			</if>
			<if test="property != null">
				FPROPERTY,
			</if>
			<if test="isList != null">
				FIS_LIST,
			</if>
			<if test="isShow != null">
				FIS_SHOW,
			</if>
			<if test="isForm != null">
				FIS_FORM,
			</if>
			<if test="isEdit != null">
				FIS_EDIT,
			</if>
			<if test="width != null">
				FWIDTH,
			</if>
			<if test="colspan != null">
				FCOLSPAN,
			</if>
			<if test="rowspan != null">
				FROWSPAN,
			</if>
			<if test="level != null">
				FLEVEL,
			</if>
			<if test="align != null">
				FALIGN,
			</if>
			<if test="queryState != null">
				FQUERY_STATE,
			</if>
			<if test="queryType != null">
				FQUERY_TYPE,
			</if>
			<if test="dictType != null">
				FDICT_TYPE,
			</if>
			<if test="format != null">
				FFORMAT,
			</if>
			<if test="required != null">
				FREQUIRED,
			</if>
			<if test="minLength != null">
				FMIN_LENGTH,
			</if>
			<if test="maxLength != null">
				FMAX_LENGTH,
			</if>
			<if test="minValue != null">
				FMIN_VALUE,
			</if>
			<if test="maxValue != null">
				FMAX_VALUE,
			</if>
			<if test="validateType != null">
				FVALIDATE_TYPE,
			</if>
			<if test="widgetId != null">
				FWIDGET_ID,
			</if>
			<if test="isPk != null">
				FIS_PK,
			</if>
			<if test="isNull != null">
				FIS_NULL,
			</if>
			<if test="isInsert != null">
				FIS_INSERT,
			</if>
			<if test="javaType != null">
				FJAVA_TYPE,
			</if>
			<if test="jdbcType != null">
				FJDBC_TYPE,
			</if>
			<if test="order != null">
				FORDER,
			</if>
			<if test="remark != null">
				FREMARK
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="gridCode != null">
				#{gridCode, jdbcType=VARCHAR},
			</if>
			<if test="columnCode != null">
				#{columnCode, jdbcType=VARCHAR},
			</if>
			<if test="columnName != null">
				#{columnName, jdbcType=VARCHAR},
			</if>
			<if test="property != null">
				#{property, jdbcType=VARCHAR},
			</if>
			<if test="isList != null">
				#{isList, jdbcType=BIT},
			</if>
			<if test="isShow != null">
				#{isShow, jdbcType=BIT},
			</if>
			<if test="isForm != null">
				#{isForm, jdbcType=BIT},
			</if>
			<if test="isEdit != null">
				#{isEdit, jdbcType=BIT},
			</if>
			<if test="width != null">
				#{width, jdbcType=INTEGER},
			</if>
			<if test="colspan != null">
				#{colspan, jdbcType=INTEGER},
			</if>
			<if test="rowspan != null">
				#{rowspan, jdbcType=INTEGER},
			</if>
			<if test="level != null">
				#{level, jdbcType=INTEGER},
			</if>
			<if test="align != null">
				#{align, jdbcType=VARCHAR},
			</if>
			<if test="queryState != null">
				#{queryState, jdbcType=INTEGER},
			</if>
			<if test="queryType != null">
				#{queryType, jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				#{dictType, jdbcType=VARCHAR},
			</if>
			<if test="format != null">
				#{format, jdbcType=VARCHAR},
			</if>
			<if test="required != null">
				#{required, jdbcType=BIT},
			</if>
			<if test="minLength != null">
				#{minLength, jdbcType=INTEGER},
			</if>
			<if test="maxLength != null">
				#{maxLength, jdbcType=INTEGER},
			</if>
			<if test="minValue != null">
				#{minValue, jdbcType=VARCHAR},
			</if>
			<if test="maxValue != null">
				#{maxValue, jdbcType=VARCHAR},
			</if>
			<if test="validateType != null">
				#{validateType, jdbcType=VARCHAR},
			</if>
			<if test="widgetId != null">
				#{widgetId, jdbcType=VARCHAR},
			</if>
			<if test="isPk != null">
				#{isPk, jdbcType=BIT},
			</if>
			<if test="isNull != null">
				#{isNull, jdbcType=BIT},
			</if>
			<if test="isInsert != null">
				#{isInsert, jdbcType=BIT},
			</if>
			<if test="javaType != null">
				#{javaType, jdbcType=VARCHAR},
			</if>
			<if test="jdbcType != null">
				#{jdbcType, jdbcType=VARCHAR},
			</if>
			<if test="order != null">
				#{order, jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<select id="countByCondition" parameterType="cn.elwy.common.model.Parameter" resultType="java.lang.Long">
		select count(*) from ect_grid_info
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_grid_info
		<set>
			<if test="data.gridCode != null">
				FGRID_CODE = #{data.gridCode, jdbcType=VARCHAR},
			</if>
			<if test="data.columnCode != null">
				FCOLUMN_CODE = #{data.columnCode, jdbcType=VARCHAR},
			</if>
			<if test="data.columnName != null">
				FCOLUMN_NAME = #{data.columnName, jdbcType=VARCHAR},
			</if>
			<if test="data.property != null">
				FPROPERTY = #{data.property, jdbcType=VARCHAR},
			</if>
			<if test="data.isList != null">
				FIS_LIST = #{data.isList, jdbcType=BIT},
			</if>
			<if test="data.isShow != null">
				FIS_SHOW = #{data.isShow, jdbcType=BIT},
			</if>
			<if test="data.isForm != null">
				FIS_FORM = #{data.isForm, jdbcType=BIT},
			</if>
			<if test="data.isEdit != null">
				FIS_EDIT = #{data.isEdit, jdbcType=BIT},
			</if>
			<if test="data.width != null">
				FWIDTH = #{data.width, jdbcType=INTEGER},
			</if>
			<if test="data.colspan != null">
				FCOLSPAN = #{data.colspan, jdbcType=INTEGER},
			</if>
			<if test="data.rowspan != null">
				FROWSPAN = #{data.rowspan, jdbcType=INTEGER},
			</if>
			<if test="data.level != null">
				FLEVEL = #{data.level, jdbcType=INTEGER},
			</if>
			<if test="data.align != null">
				FALIGN = #{data.align, jdbcType=VARCHAR},
			</if>
			<if test="data.queryState != null">
				FQUERY_STATE = #{data.queryState, jdbcType=INTEGER},
			</if>
			<if test="data.queryType != null">
				FQUERY_TYPE = #{data.queryType, jdbcType=VARCHAR},
			</if>
			<if test="data.dictType != null">
				FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			</if>
			<if test="data.format != null">
				FFORMAT = #{data.format, jdbcType=VARCHAR},
			</if>
			<if test="data.required != null">
				FREQUIRED = #{data.required, jdbcType=BIT},
			</if>
			<if test="data.minLength != null">
				FMIN_LENGTH = #{data.minLength, jdbcType=INTEGER},
			</if>
			<if test="data.maxLength != null">
				FMAX_LENGTH = #{data.maxLength, jdbcType=INTEGER},
			</if>
			<if test="data.minValue != null">
				FMIN_VALUE = #{data.minValue, jdbcType=VARCHAR},
			</if>
			<if test="data.maxValue != null">
				FMAX_VALUE = #{data.maxValue, jdbcType=VARCHAR},
			</if>
			<if test="data.validateType != null">
				FVALIDATE_TYPE = #{data.validateType, jdbcType=VARCHAR},
			</if>
			<if test="data.widgetId != null">
				FWIDGET_ID = #{data.widgetId, jdbcType=VARCHAR},
			</if>
			<if test="data.isPk != null">
				FIS_PK = #{data.isPk, jdbcType=BIT},
			</if>
			<if test="data.isNull != null">
				FIS_NULL = #{data.isNull, jdbcType=BIT},
			</if>
			<if test="data.isInsert != null">
				FIS_INSERT = #{data.isInsert, jdbcType=BIT},
			</if>
			<if test="data.javaType != null">
				FJAVA_TYPE = #{data.javaType, jdbcType=VARCHAR},
			</if>
			<if test="data.jdbcType != null">
				FJDBC_TYPE = #{data.jdbcType, jdbcType=VARCHAR},
			</if>
			<if test="data.order != null">
				FORDER = #{data.order, jdbcType=INTEGER},
			</if>
			<if test="data.remark != null">
				FREMARK = #{data.remark, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_grid_info
		set 
			FGRID_CODE = #{data.gridCode, jdbcType=VARCHAR},
			FCOLUMN_CODE = #{data.columnCode, jdbcType=VARCHAR},
			FCOLUMN_NAME = #{data.columnName, jdbcType=VARCHAR},
			FPROPERTY = #{data.property, jdbcType=VARCHAR},
			FIS_LIST = #{data.isList, jdbcType=BIT},
			FIS_SHOW = #{data.isShow, jdbcType=BIT},
			FIS_FORM = #{data.isForm, jdbcType=BIT},
			FIS_EDIT = #{data.isEdit, jdbcType=BIT},
			FWIDTH = #{data.width, jdbcType=INTEGER},
			FCOLSPAN = #{data.colspan, jdbcType=INTEGER},
			FROWSPAN = #{data.rowspan, jdbcType=INTEGER},
			FLEVEL = #{data.level, jdbcType=INTEGER},
			FALIGN = #{data.align, jdbcType=VARCHAR},
			FQUERY_STATE = #{data.queryState, jdbcType=INTEGER},
			FQUERY_TYPE = #{data.queryType, jdbcType=VARCHAR},
			FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			FFORMAT = #{data.format, jdbcType=VARCHAR},
			FREQUIRED = #{data.required, jdbcType=BIT},
			FMIN_LENGTH = #{data.minLength, jdbcType=INTEGER},
			FMAX_LENGTH = #{data.maxLength, jdbcType=INTEGER},
			FMIN_VALUE = #{data.minValue, jdbcType=VARCHAR},
			FMAX_VALUE = #{data.maxValue, jdbcType=VARCHAR},
			FVALIDATE_TYPE = #{data.validateType, jdbcType=VARCHAR},
			FWIDGET_ID = #{data.widgetId, jdbcType=VARCHAR},
			FIS_PK = #{data.isPk, jdbcType=BIT},
			FIS_NULL = #{data.isNull, jdbcType=BIT},
			FIS_INSERT = #{data.isInsert, jdbcType=BIT},
			FJAVA_TYPE = #{data.javaType, jdbcType=VARCHAR},
			FJDBC_TYPE = #{data.jdbcType, jdbcType=VARCHAR},
			FORDER = #{data.order, jdbcType=INTEGER},
			FREMARK = #{data.remark, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.GridInfo">
		update ect_grid_info
		<set>
			<if test="gridCode != null">
				FGRID_CODE = #{gridCode, jdbcType=VARCHAR},
			</if>
			<if test="columnCode != null">
				FCOLUMN_CODE = #{columnCode, jdbcType=VARCHAR},
			</if>
			<if test="columnName != null">
				FCOLUMN_NAME = #{columnName, jdbcType=VARCHAR},
			</if>
			<if test="property != null">
				FPROPERTY = #{property, jdbcType=VARCHAR},
			</if>
			<if test="isList != null">
				FIS_LIST = #{isList, jdbcType=BIT},
			</if>
			<if test="isShow != null">
				FIS_SHOW = #{isShow, jdbcType=BIT},
			</if>
			<if test="isForm != null">
				FIS_FORM = #{isForm, jdbcType=BIT},
			</if>
			<if test="isEdit != null">
				FIS_EDIT = #{isEdit, jdbcType=BIT},
			</if>
			<if test="width != null">
				FWIDTH = #{width, jdbcType=INTEGER},
			</if>
			<if test="colspan != null">
				FCOLSPAN = #{colspan, jdbcType=INTEGER},
			</if>
			<if test="rowspan != null">
				FROWSPAN = #{rowspan, jdbcType=INTEGER},
			</if>
			<if test="level != null">
				FLEVEL = #{level, jdbcType=INTEGER},
			</if>
			<if test="align != null">
				FALIGN = #{align, jdbcType=VARCHAR},
			</if>
			<if test="queryState != null">
				FQUERY_STATE = #{queryState, jdbcType=INTEGER},
			</if>
			<if test="queryType != null">
				FQUERY_TYPE = #{queryType, jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			</if>
			<if test="format != null">
				FFORMAT = #{format, jdbcType=VARCHAR},
			</if>
			<if test="required != null">
				FREQUIRED = #{required, jdbcType=BIT},
			</if>
			<if test="minLength != null">
				FMIN_LENGTH = #{minLength, jdbcType=INTEGER},
			</if>
			<if test="maxLength != null">
				FMAX_LENGTH = #{maxLength, jdbcType=INTEGER},
			</if>
			<if test="minValue != null">
				FMIN_VALUE = #{minValue, jdbcType=VARCHAR},
			</if>
			<if test="maxValue != null">
				FMAX_VALUE = #{maxValue, jdbcType=VARCHAR},
			</if>
			<if test="validateType != null">
				FVALIDATE_TYPE = #{validateType, jdbcType=VARCHAR},
			</if>
			<if test="widgetId != null">
				FWIDGET_ID = #{widgetId, jdbcType=VARCHAR},
			</if>
			<if test="isPk != null">
				FIS_PK = #{isPk, jdbcType=BIT},
			</if>
			<if test="isNull != null">
				FIS_NULL = #{isNull, jdbcType=BIT},
			</if>
			<if test="isInsert != null">
				FIS_INSERT = #{isInsert, jdbcType=BIT},
			</if>
			<if test="javaType != null">
				FJAVA_TYPE = #{javaType, jdbcType=VARCHAR},
			</if>
			<if test="jdbcType != null">
				FJDBC_TYPE = #{jdbcType, jdbcType=VARCHAR},
			</if>
			<if test="order != null">
				FORDER = #{order, jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				FREMARK = #{remark, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.GridInfo">
		update ect_grid_info
		set 
			
			FGRID_CODE = #{gridCode, jdbcType=VARCHAR},
			FCOLUMN_CODE = #{columnCode, jdbcType=VARCHAR},
			FCOLUMN_NAME = #{columnName, jdbcType=VARCHAR},
			FPROPERTY = #{property, jdbcType=VARCHAR},
			FIS_LIST = #{isList, jdbcType=BIT},
			FIS_SHOW = #{isShow, jdbcType=BIT},
			FIS_FORM = #{isForm, jdbcType=BIT},
			FIS_EDIT = #{isEdit, jdbcType=BIT},
			FWIDTH = #{width, jdbcType=INTEGER},
			FCOLSPAN = #{colspan, jdbcType=INTEGER},
			FROWSPAN = #{rowspan, jdbcType=INTEGER},
			FLEVEL = #{level, jdbcType=INTEGER},
			FALIGN = #{align, jdbcType=VARCHAR},
			FQUERY_STATE = #{queryState, jdbcType=INTEGER},
			FQUERY_TYPE = #{queryType, jdbcType=VARCHAR},
			FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			FFORMAT = #{format, jdbcType=VARCHAR},
			FREQUIRED = #{required, jdbcType=BIT},
			FMIN_LENGTH = #{minLength, jdbcType=INTEGER},
			FMAX_LENGTH = #{maxLength, jdbcType=INTEGER},
			FMIN_VALUE = #{minValue, jdbcType=VARCHAR},
			FMAX_VALUE = #{maxValue, jdbcType=VARCHAR},
			FVALIDATE_TYPE = #{validateType, jdbcType=VARCHAR},
			FWIDGET_ID = #{widgetId, jdbcType=VARCHAR},
			FIS_PK = #{isPk, jdbcType=BIT},
			FIS_NULL = #{isNull, jdbcType=BIT},
			FIS_INSERT = #{isInsert, jdbcType=BIT},
			FJAVA_TYPE = #{javaType, jdbcType=VARCHAR},
			FJDBC_TYPE = #{jdbcType, jdbcType=VARCHAR},
			FORDER = #{order, jdbcType=INTEGER},
			FREMARK = #{remark, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>