<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.UserSubjectMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.UserSubject">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FUSER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="FSUBJECT_TYPE" property="subjectType" jdbcType="VARCHAR" />
		<result column="FSUBJECT_CODE" property="subjectCode" jdbcType="VARCHAR" />
		<result column="FCAN_MANAGE" property="canManage" jdbcType="BIT" />
		<result column="FINCEPT_TIME" property="inceptTime" jdbcType="TIMESTAMP" />
		<result column="FEXPIRY_TIME" property="expiryTime" jdbcType="TIMESTAMP" />
		<result column="FENABLE" property="enable" jdbcType="BIT" />
		<result column="FAUDIT_STATE" property="auditState" jdbcType="SMALLINT" />
		<result column="FDELETE_STATE" property="deleteState" jdbcType="SMALLINT" />
		<result column="FEDIT_STATE" property="editState" jdbcType="SMALLINT" />
		<result column="FAUDITOR_ID" property="auditorId" jdbcType="VARCHAR" />
		<result column="FAUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
		<result column="FCREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
		<result column="FCREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="FDELETOR_ID" property="deletorId" jdbcType="VARCHAR" />
		<result column="FDELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
		<result column="FEDITOR_ID" property="editorId" jdbcType="VARCHAR" />
		<result column="FEDIT_TIME" property="editTime" jdbcType="TIMESTAMP" />
		<result column="FREMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.rules != null and criteria.rules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.rules" item="item">
									<choose>
										<when test="item.isNoValue()">
											${criteria.op} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isListValue()">
											${criteria.op} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.groups != null and criteria.groups.size() &gt; 0">
							${criteria.gop}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.groups" item="groupItem">
									<if test="groupItem.rules != null and groupItem.rules.size() &gt; 0">
										${criteria.rgop}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.rules" item="ruleItem">
												<choose>
													<when test="ruleItem.isNoValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
													</when>
													<when test="ruleItem.isSingleValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value}
													</when>
													<when test="ruleItem.isBetweenValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value} and #{ruleItem.secondValue}
													</when>
													<when test="ruleItem.isListValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
														<foreach collection="ruleItem.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FUSER_ID, FSUBJECT_TYPE, FSUBJECT_CODE, FCAN_MANAGE, FINCEPT_TIME, FEXPIRY_TIME, FENABLE, FAUDIT_STATE, FDELETE_STATE, FEDIT_STATE, FAUDITOR_ID, FAUDIT_TIME, FCREATOR_ID, FCREATE_TIME, FDELETOR_ID, FDELETE_TIME, FEDITOR_ID, FEDIT_TIME, FREMARK 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FUSER_ID&quot;)">
						FUSER_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FSUBJECT_TYPE&quot;)">
						FSUBJECT_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FSUBJECT_CODE&quot;)">
						FSUBJECT_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FCAN_MANAGE&quot;)">
						FCAN_MANAGE, 
					</if>
					<if test="!filterColumns.contains(&quot;FINCEPT_TIME&quot;)">
						FINCEPT_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FEXPIRY_TIME&quot;)">
						FEXPIRY_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FENABLE&quot;)">
						FENABLE, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDIT_STATE&quot;)">
						FAUDIT_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETE_STATE&quot;)">
						FDELETE_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDIT_STATE&quot;)">
						FEDIT_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDITOR_ID&quot;)">
						FAUDITOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDIT_TIME&quot;)">
						FAUDIT_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FCREATOR_ID&quot;)">
						FCREATOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FCREATE_TIME&quot;)">
						FCREATE_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETOR_ID&quot;)">
						FDELETOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETE_TIME&quot;)">
						FDELETE_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDITOR_ID&quot;)">
						FEDITOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDIT_TIME&quot;)">
						FEDIT_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FREMARK&quot;)">
						FREMARK 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select
		<include refid="Base_Column_List" />
		from ect_user_subject
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select 
		<include refid="Base_Column_List" />
		from ect_user_subject
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_user_subject
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_user_subject
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.model.Parameter">
		delete from ect_user_subject
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.UserSubject">
		insert into ect_user_subject (FID, FUSER_ID, FSUBJECT_TYPE, FSUBJECT_CODE, FCAN_MANAGE, FINCEPT_TIME, FEXPIRY_TIME, FENABLE, FAUDIT_STATE, FDELETE_STATE, FEDIT_STATE, FAUDITOR_ID, FAUDIT_TIME, FCREATOR_ID, FCREATE_TIME, FDELETOR_ID, FDELETE_TIME, FEDITOR_ID, FEDIT_TIME, FREMARK )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{userId, jdbcType=VARCHAR}, 
			#{subjectType, jdbcType=VARCHAR}, 
			#{subjectCode, jdbcType=VARCHAR}, 
			#{canManage, jdbcType=BIT}, 
			#{inceptTime, jdbcType=TIMESTAMP}, 
			#{expiryTime, jdbcType=TIMESTAMP}, 
			#{enable, jdbcType=BIT}, 
			#{auditState, jdbcType=SMALLINT}, 
			#{deleteState, jdbcType=SMALLINT}, 
			#{editState, jdbcType=SMALLINT}, 
			#{auditorId, jdbcType=VARCHAR}, 
			#{auditTime, jdbcType=TIMESTAMP}, 
			#{creatorId, jdbcType=VARCHAR}, 
			#{createTime, jdbcType=TIMESTAMP}, 
			#{deletorId, jdbcType=VARCHAR}, 
			#{deleteTime, jdbcType=TIMESTAMP}, 
			#{editorId, jdbcType=VARCHAR}, 
			#{editTime, jdbcType=TIMESTAMP}, 
			#{remark, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.UserSubject">
		insert into ect_user_subject
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="userId != null">
				FUSER_ID,
			</if>
			<if test="subjectType != null">
				FSUBJECT_TYPE,
			</if>
			<if test="subjectCode != null">
				FSUBJECT_CODE,
			</if>
			<if test="canManage != null">
				FCAN_MANAGE,
			</if>
			<if test="inceptTime != null">
				FINCEPT_TIME,
			</if>
			<if test="expiryTime != null">
				FEXPIRY_TIME,
			</if>
			<if test="enable != null">
				FENABLE,
			</if>
			<if test="auditState != null">
				FAUDIT_STATE,
			</if>
			<if test="deleteState != null">
				FDELETE_STATE,
			</if>
			<if test="editState != null">
				FEDIT_STATE,
			</if>
			<if test="auditorId != null">
				FAUDITOR_ID,
			</if>
			<if test="auditTime != null">
				FAUDIT_TIME,
			</if>
			<if test="creatorId != null">
				FCREATOR_ID,
			</if>
			<if test="createTime != null">
				FCREATE_TIME,
			</if>
			<if test="deletorId != null">
				FDELETOR_ID,
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME,
			</if>
			<if test="editorId != null">
				FEDITOR_ID,
			</if>
			<if test="editTime != null">
				FEDIT_TIME,
			</if>
			<if test="remark != null">
				FREMARK
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId, jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				#{subjectType, jdbcType=VARCHAR},
			</if>
			<if test="subjectCode != null">
				#{subjectCode, jdbcType=VARCHAR},
			</if>
			<if test="canManage != null">
				#{canManage, jdbcType=BIT},
			</if>
			<if test="inceptTime != null">
				#{inceptTime, jdbcType=TIMESTAMP},
			</if>
			<if test="expiryTime != null">
				#{expiryTime, jdbcType=TIMESTAMP},
			</if>
			<if test="enable != null">
				#{enable, jdbcType=BIT},
			</if>
			<if test="auditState != null">
				#{auditState, jdbcType=SMALLINT},
			</if>
			<if test="deleteState != null">
				#{deleteState, jdbcType=SMALLINT},
			</if>
			<if test="editState != null">
				#{editState, jdbcType=SMALLINT},
			</if>
			<if test="auditorId != null">
				#{auditorId, jdbcType=VARCHAR},
			</if>
			<if test="auditTime != null">
				#{auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deletorId != null">
				#{deletorId, jdbcType=VARCHAR},
			</if>
			<if test="deleteTime != null">
				#{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editorId != null">
				#{editorId, jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				#{editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<select id="countByCondition" parameterType="cn.elwy.common.model.Parameter" resultType="java.lang.Long">
		select count(*) from ect_user_subject
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_user_subject
		<set>
			<if test="data.userId != null">
				FUSER_ID = #{data.userId, jdbcType=VARCHAR},
			</if>
			<if test="data.subjectType != null">
				FSUBJECT_TYPE = #{data.subjectType, jdbcType=VARCHAR},
			</if>
			<if test="data.subjectCode != null">
				FSUBJECT_CODE = #{data.subjectCode, jdbcType=VARCHAR},
			</if>
			<if test="data.canManage != null">
				FCAN_MANAGE = #{data.canManage, jdbcType=BIT},
			</if>
			<if test="data.inceptTime != null">
				FINCEPT_TIME = #{data.inceptTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.expiryTime != null">
				FEXPIRY_TIME = #{data.expiryTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.enable != null">
				FENABLE = #{data.enable, jdbcType=BIT},
			</if>
			<if test="data.auditState != null">
				FAUDIT_STATE = #{data.auditState, jdbcType=SMALLINT},
			</if>
			<if test="data.deleteState != null">
				FDELETE_STATE = #{data.deleteState, jdbcType=SMALLINT},
			</if>
			<if test="data.editState != null">
				FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			</if>
			<if test="data.auditorId != null">
				FAUDITOR_ID = #{data.auditorId, jdbcType=VARCHAR},
			</if>
			<if test="data.auditTime != null">
				FAUDIT_TIME = #{data.auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.creatorId != null">
				FCREATOR_ID = #{data.creatorId, jdbcType=VARCHAR},
			</if>
			<if test="data.createTime != null">
				FCREATE_TIME = #{data.createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.deletorId != null">
				FDELETOR_ID = #{data.deletorId, jdbcType=VARCHAR},
			</if>
			<if test="data.deleteTime != null">
				FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.editorId != null">
				FEDITOR_ID = #{data.editorId, jdbcType=VARCHAR},
			</if>
			<if test="data.editTime != null">
				FEDIT_TIME = #{data.editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.remark != null">
				FREMARK = #{data.remark, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_user_subject
		set 
			FUSER_ID = #{data.userId, jdbcType=VARCHAR},
			FSUBJECT_TYPE = #{data.subjectType, jdbcType=VARCHAR},
			FSUBJECT_CODE = #{data.subjectCode, jdbcType=VARCHAR},
			FCAN_MANAGE = #{data.canManage, jdbcType=BIT},
			FINCEPT_TIME = #{data.inceptTime, jdbcType=TIMESTAMP},
			FEXPIRY_TIME = #{data.expiryTime, jdbcType=TIMESTAMP},
			FENABLE = #{data.enable, jdbcType=BIT},
			FAUDIT_STATE = #{data.auditState, jdbcType=SMALLINT},
			FDELETE_STATE = #{data.deleteState, jdbcType=SMALLINT},
			FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			FAUDITOR_ID = #{data.auditorId, jdbcType=VARCHAR},
			FAUDIT_TIME = #{data.auditTime, jdbcType=TIMESTAMP},
			FCREATOR_ID = #{data.creatorId, jdbcType=VARCHAR},
			FCREATE_TIME = #{data.createTime, jdbcType=TIMESTAMP},
			FDELETOR_ID = #{data.deletorId, jdbcType=VARCHAR},
			FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			FEDITOR_ID = #{data.editorId, jdbcType=VARCHAR},
			FEDIT_TIME = #{data.editTime, jdbcType=TIMESTAMP},
			FREMARK = #{data.remark, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.UserSubject">
		update ect_user_subject
		<set>
			<if test="userId != null">
				FUSER_ID = #{userId, jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				FSUBJECT_TYPE = #{subjectType, jdbcType=VARCHAR},
			</if>
			<if test="subjectCode != null">
				FSUBJECT_CODE = #{subjectCode, jdbcType=VARCHAR},
			</if>
			<if test="canManage != null">
				FCAN_MANAGE = #{canManage, jdbcType=BIT},
			</if>
			<if test="inceptTime != null">
				FINCEPT_TIME = #{inceptTime, jdbcType=TIMESTAMP},
			</if>
			<if test="expiryTime != null">
				FEXPIRY_TIME = #{expiryTime, jdbcType=TIMESTAMP},
			</if>
			<if test="enable != null">
				FENABLE = #{enable, jdbcType=BIT},
			</if>
			<if test="auditState != null">
				FAUDIT_STATE = #{auditState, jdbcType=SMALLINT},
			</if>
			<if test="deleteState != null">
				FDELETE_STATE = #{deleteState, jdbcType=SMALLINT},
			</if>
			<if test="editState != null">
				FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			</if>
			<if test="auditorId != null">
				FAUDITOR_ID = #{auditorId, jdbcType=VARCHAR},
			</if>
			<if test="auditTime != null">
				FAUDIT_TIME = #{auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				FCREATOR_ID = #{creatorId, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				FCREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deletorId != null">
				FDELETOR_ID = #{deletorId, jdbcType=VARCHAR},
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editorId != null">
				FEDITOR_ID = #{editorId, jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				FEDIT_TIME = #{editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				FREMARK = #{remark, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.UserSubject">
		update ect_user_subject
		set 
			
			FUSER_ID = #{userId, jdbcType=VARCHAR},
			FSUBJECT_TYPE = #{subjectType, jdbcType=VARCHAR},
			FSUBJECT_CODE = #{subjectCode, jdbcType=VARCHAR},
			FCAN_MANAGE = #{canManage, jdbcType=BIT},
			FINCEPT_TIME = #{inceptTime, jdbcType=TIMESTAMP},
			FEXPIRY_TIME = #{expiryTime, jdbcType=TIMESTAMP},
			FENABLE = #{enable, jdbcType=BIT},
			FAUDIT_STATE = #{auditState, jdbcType=SMALLINT},
			FDELETE_STATE = #{deleteState, jdbcType=SMALLINT},
			FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			FAUDITOR_ID = #{auditorId, jdbcType=VARCHAR},
			FAUDIT_TIME = #{auditTime, jdbcType=TIMESTAMP},
			FCREATOR_ID = #{creatorId, jdbcType=VARCHAR},
			FCREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
			FDELETOR_ID = #{deletorId, jdbcType=VARCHAR},
			FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			FEDITOR_ID = #{editorId, jdbcType=VARCHAR},
			FEDIT_TIME = #{editTime, jdbcType=TIMESTAMP},
			FREMARK = #{remark, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>