<!DOCTYPE html>
<html>
<head>
${include_themes}
<meta name="author" content="leipi.org">
<link href="${resourcePath}/resource/themes/default/css/pub_form.css" rel="stylesheet">
<link rel="stylesheet" href="${resourcePath}/resource/themes/default/css/pub_print.css" media="print"/>

<link rel="stylesheet" href="${resourcePath}/resource/themes/css/bootstrap-select.css">

<style type="text/css">
.iBox {
	padding: 8px !important;
	color: black !important;
	font-weight: 300 !important;
}
.Interval{
	padding-left: 0px !important;
}
.headerColor{
	background-color: #f3f3f4 !important;
}
.label_Header{
	background-color : #EDEDED !important;
	color : blue !important;
	margin-top: 0px;
	padding: 5px;
} 
.ibox-content{
	padding: 0px;
}
.laber_group{
	padding-left: 0px;
}
a {
text-decoration:none !important;
}
.character{
	float: left
}
.form-control-inline {
    width:30%;
    display:inline;
}
</style>

</head>

<body class="iframeNoScrollBar">
<#assign auth="com.yss.fast.webplus.shiro.AuthTag"?new()>
<div class="ibox float-e-margins">
     <div id="header" class="ibox-title gray-bg paddingTB">
        <div id="tab-1" class="tab-pane active">
		<div class="panel-body">
			<div class="col-sm-12 head-table" role="group">
				<div id="_basicSearch" class="basicSearch">
					<ul>
						<li class="basicSearchAdv">
							<#if auth('user:insert')>
								<a href="#" id="btnAdd" title="添加"><i class="fa fa-plus"></i>添加</a>
							</#if>
							<#if auth('user:update')>
								<a href="#" id="btnEdit" title="修改"><i class="fa fa-file-text-o"></i>修改</a>
							</#if>
							<#if auth('user:copy')>
								<a href="#" id="btnCopy" title="复制"><i class="glyphicon glyphicon-duplicate"></i>复制</a>
							</#if>
							<#if auth('user:delete')>
								<a href="#" id="btnDelete" title="删除"><i class="glyphicon glyphicon-trash"></i>删除</a>
							</#if>
							<#if auth('user:check')>
								<a href="#" id="btnCheck" title="审核"><i class="glyphicon glyphicon-check"></i>审核</a>
							</#if>
							<#if auth('user:uncheck')>
								<a href="#" id="btnUncheck" title="反审核"><i class="glyphicon glyphicon-compressed"></i>反审核</a>
							</#if>
							<#if auth('user:export')>
								<a href="#" id="btnExport" title="导出"><i class="glyphicon glyphicon-open-file"></i>导出</a>
							</#if>
							<#if auth('user:print')>
								<a href="#" id="btnPrint" title="打印" onclick="print()"><i class="glyphicon glyphicon-print"></i>打印</a>
							</#if>
							<a href="#" id="btnHelp" title="帮助" ><i class="glyphicon glyphicon-question-sign"></i>帮助</a>
			    		</li>
			    		<!-- basicSearch form start -->
			    		<div class="basicSearchRight">
			    		<div class="inline-left" >
			    		<form id="searchForm" modelAttribute="role" action="${bundlePath}/form" method="post" class="form-inline" onsubmit="return false;">
				    		<div class="input-group input-group-sm">
								<input type="text" class="form-control " id="C_NAME" name="C_NAME" placeholder="请输入表单名" />
							</div>
							<div class="input-group input-group-sm">
								<input type="text" class="form-control " id="C_CODE" name="C_CODE" placeholder="请输入表单编码" />
							</div>
							<div class="input-group input-group-sm">
								<select class="form-control" id="N_CHECK_STATE" name="N_CHECK_STATE">
									<option value="">全部数据</option>
									<option value="1">已审核</option>
									<option value="0">未审核</option>
								</select>
							</div>
								<div class="input-group input-group-sm">
									<button id="btnSearch" title="查询">
										<i class="fa fa-search"></i>查询
									</button>
								</div>
						</form>
						</div>
						<div class="inline-left">
						<form>
						<button id="_advSearchBtn" style="float:right;" class="dropdown-toggle" data-toggle="dropdown" title="更多">
							<i class="fa fa-th-large"></i>更多
						</button>
			    		<!-- basicSearch form end -->
   						<ul class="dropdown-menu" style="width:500px;">
	                       	<li><div class="gap" style="height:15px;"><h5><i class="fa fa-caret-square-o-down"></i>高级检索</h5></div></li>
	                       	<li>
	                       		<div class="input-group input-group-sm gap" data-stopPropagation="true">
		                       		<button id="btnAddRow" title="添加" type="button">
										<i class="fa fa-plus"></i>添加
									</button>
		                       		<button id="btnSearch2" title="查询" type="button">
										<i class="fa fa-search"></i>查询
									</button>
									<button id="btnReset" title="重置" data-stopPropagation="true" type="button">
										<i class="glyphicon glyphicon-share-alt"></i>重置
									</button>
								</div>
	                       	</li>
	                        <li style="margin-top: 5px;" data-stopPropagation="true">
	                        	<div class="input-group input-group-sm gap">
									<select class="form-control" name="type" style="width:80px;">
										<option value="and">并</option>
										<option value="or">或</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="C_NAME" name="C_NAME" placeholder="条件1" />
									<select class="form-control" name="type" style="width:80px;">
										<option value="eq">等于</option>
										<option value="ne">不等</option>
										<option value="lt">小于</option>
										<option value="le">小于等于</option>
										<option value="gt">大于</option>
										<option value="ge">大于等于</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="C_CODE" name="C_CODE" placeholder="条件2" />
									<a href="#" onclick="delrow(this)"><i class="fa fa-times-circle" style="margin:10px 10px 10px 10px;"></i></a>
								</div>
	                        </li>
                    	</ul>
                    	</form>
                    	</div>
                    	</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	<div id="table_div" class="jqGrid_wrapper">
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
    
<!-- toolbar start 注意class名称要准确！！！ -->
	<div id="toolbar" style="display:none;">
		<a class="layui-layer-add" href="javascript:;" title="添加"><i class="fa fa-plus" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-edit" href="javascript:;" title="修改"><i class="fa fa-edit" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-copy" href="javascript:;" title="复制"><i class="fa fa-copy" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-delete" href="javascript:;" title="删除"><i class="fa fa-trash-o" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-save" href="javascript:;" title="保存"><i class="fa fa-save" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-undo" href="javascript:;" title="撤销"><i class="fa fa-undo" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-up" href="javascript:;" title="上移"><i class="fa fa-arrow-up" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-down" href="javascript:;" title="下移"><i class="fa fa-arrow-down" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<!-- <a class="layui-layer-min" href="javascript:;" title="最小化"><cite></cite></a> -->
		<a class="layui-layer-max" href="javascript:;" title="最大化/还原"><i class="fa fa-arrows-alt" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-close layui-layer-close1" href="javascript:;" title="关闭"><i class="fa fa-close" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
	</div>
<!-- toolbar end -->

	<div id="form_id" style="display: none;">
		<div >
			<div>
				<div class="col-sm-12">
					<div class="ibox-content table-form">
						<form class="form-horizontal m-t" id="signupForm" onsubmit="return false;">
						
							<div class="row">
								<div class="col-sm-2">
									<div class="ibox-title">
										<h5>标签库</h5>
									</div>
									<div class="ibox-content">
										<div class="span2" style="background-color: #fff;">
											<div class="laber_group">
												<div class="label_Header"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h4>系统标签</h4></a></div>
												<ul class="nav nav-list panel-collapse collapse in" id="collapseOne">
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('text');" class="iBox" id="textBox" onmousedown="textMD()" ondragstart="textDS()" onmouseup="textMS()">
													<i class='glyphicon glyphicon-list-alt'></i>文本框</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('textarea');" class="iBox" id="textareaBox" onmousedown="textareaMD()" ondragstart="textareaDS()" onmouseup="textareaMS()"> 
													<i class="glyphicon glyphicon-menu-hamburger"></i>文本域</a></li>
													
													<li><a href="javascript:void(0);"onclick="leipiFormDesign.exec('select');" class="iBox" id="selectBox" onmousedown="selectMD()" ondragstart="selectDS()" onmouseup="selectMS()"> 
													<i class="glyphicon glyphicon-hand-down"></i>下拉菜单</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('date');" class="iBox" id="dateBox" onmousedown="dateMD()" ondragstart="dateDS()" onmouseup="dateMS()"> 
													<i class="glyphicon glyphicon-calendar"></i>时间控件</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('radios');" class="iBox" id="radiosBox" onmousedown="radiosMD()" ondragstart="radiosDS()" onmouseup="radiosMS()"> 
													<i class="glyphicon glyphicon-record"></i>单选框 </a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('checkboxs');" class="iBox" id="checkboxsBox" onmousedown="checkboxsMD()" ondragstart="checkboxsDS()" onmouseup="checkboxsMS()"> 
													<i class="glyphicon glyphicon-unchecked"></i>复选框</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('button');" class="iBox" id="buttonBox" onmousedown="buttonMD()" ondragstart="buttonDS()" onmouseup="buttonMS()">
													<i class="glyphicon glyphicon-sound-dolby"></i>按钮</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('hidden');" class="iBox" id="hiddenBox" onmousedown="hiddenMD()" ondragstart="hiddenDS()" onmouseup="hiddenMS()"> 
													<i class="glyphicon glyphicon-hd-video"></i>隐藏域框</a></li>
													
													<li><a href="javascript:void(0);" onclick="leipiFormDesign.exec('fileUpload');" class="iBox" id="fileUploadBox" onmousedown="fileUploadMD()" ondragstart="fileUploadDS()" onmouseup="fileUploadMS()"> 
													<i class="glyphicon glyphicon-eject"></i>文件上传</a></li>
												</ul>
											</div>
										<div class="laber_group">
											<div class="label_Header"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4>自定义标签</h4></a></div>
											<ul class="nav nav-list panel-collapse collapse in" id="collapseTwo"">
												<li><a href="javascript:void(0);"
													onclick="leipiFormDesign.exec('more');" class="iBox"> 
												<i class="glyphicon glyphicon-road"></i>组合列表</a></li>
											</ul>
										</div>
										</div>
										<div style="display:none"> ${script}fdsafdsafdsa ${script_end} </div>
									</div>
								</div>
								<div class="col-sm-10 Interval">
									<div class="ibox-title">
										<h5>表单设计器</h5>
									</div>
									
									<input type="hidden" value="" name="id" id="id">
									<input type="hidden" id="operate" name="operate" value="" class="form-control" type="text">
									<input type="hidden" id="n_CHECK_STATE" name="n_CHECK_STATE" value="" class="form-control" type="text">
									<input type="hidden" id="c_TYPE" name="c_TYPE" value="custom" class="form-control" type="text">
									<input type="hidden" id="c_PARENT_CODE" name="c_PARENT_CODE" value="" class="form-control" type="text">
									<div class="ibox-content">
										<div class="row branchDiv">
											<div class="toExamine"> 
												<label class="col-sm-1 control-label">表单编码:</label>
												<div class="col-sm-3">
													<input id="c_CODE" name="c_CODE" class="form-control" type="text" value="" placeholder="必填项">
												</div>
											</div>
											<div class="toExamine">
												<label class="col-sm-1 control-label">表单名称:</label>
												<div class="col-sm-3">
													<input id="c_NAME" name="c_NAME" class="form-control" type="text" value="" placeholder="必填项">
												</div>
											</div>
											<div class="toExamine">
												<label class="col-sm-1 control-label">版本号:</label>
												<div class="col-sm-3">
													<input id="c_VERSION" name="c_VERSION" class="form-control" type="text" value="">
												</div>
											</div>
										</div>
										<div class="row branchDiv">
											<div class="toExamine"> 
												<label class="col-sm-1 control-label">请求路径:</label>
												<div class="col-sm-7">
													   <select id="c_URL" name="c_URL" class="form-control m-b">
											               <option value="system">默认路径</option>
											           </select>
												</div>
											</div>
										</div>										
									</div>
									<div class="row">&nbsp;&nbsp;</div>
									
									<div class="span10">
										<script id="myFormDesign" type="text/plain" style="width: 100%;" class="ibox-content">
											<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
										<table data-sort="sortDisabled">
											<tbody>
												<tr class="firstRow">
													<td width="191.33333333333334" valign="top"
														style="word-break: break-all;" align="center">产品全称</td>
													<td valign="top" align="center"
														style="word-break: break-all;" colspan="3"><input
														name="leipiNewField" type="text" title="userCode" value=""
														leipiplugins="text" orghide="0" orgalign="left"
														orgwidth="870" orgtype="text"
														style="text-align: left; width: 870px; height: 25px;"
														orgfontsize="" orgheight="25" /></td>

												</tr>
												<tr>
													<td width="191.33333333333334" valign="top"
														style="word-break: break-all;" align="center">资产代码</td>
													<td width="354.3333333333333" valign="top"
														style="word-break: break-all;" align="center"><a
														id="dd"><input class="form-control"
															style="width: 300px; text-align: left; height: 25px;"
															title="文本框" value="" name="leipiNewField" orgheight="25"
															orgwidth="300" orgalign="left" orgfontsize="" orghide="0"
															leipiplugins="text" orgtype="text" /></a><br /></td>
													<td width="186.33333333333334" valign="top"
														style="word-break: break-all;" align="center">产品简称</td>
													<td width="344" valign="top" style="word-break: break-all;"
														align="center"><a id="dd"><input
															class="form-control"
															style="width: 300px; text-align: left; height: 25px;"
															title="文本框" value="" name="leipiNewField" orgheight="25"
															orgwidth="300" orgalign="left" orgfontsize="" orghide="0"
															leipiplugins="text" orgtype="text" /></a><br /></td>
												</tr>
												<tr>
													<td width="191.33333333333334" valign="top"
														style="word-break: break-all;" align="center">
														FIRST代码</td>
													<td width="354.3333333333333" valign="top"
														style="word-break: break-all;" align="center"><a
														id="inputBox"><input class="form-control"
															style="width: 300px; text-align: left; height: 25px;"
															title="文本框" value="" name="leipiNewField" orgheight="25"
															orgwidth="300" orgalign="left" orgfontsize="" orghide="0"
															leipiplugins="text" orgtype="text" /></a><br /></td>
													<td width="186.33333333333334" valign="top"
														style="word-break: break-all;" align="center">产品类型<br />
													</td>
													<td width="344" valign="top">{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="所属部门" leipiplugins="select" size="1"
															orgwidth="300" style="width: 300px;"><option
																	value="股票型" selected="selected">股票型</option>
																<option value="基金型">基金型</option></select>&nbsp;&nbsp;</span>-|}
													</td>
												</tr>
												<tr>
													<td width="191.33333333333334" valign="top"
														style="word-break: break-all;" align="center">管理类型<br />
													</td>
													<td width="354.3333333333333" valign="top"
														style="word-break: break-all;" align="center"><a
														id="dd"></a>{|-<span leipiplugins="select"><select
															name="leipiNewField" title="管理类型" leipiplugins="select"
															size="1" orgwidth="300" style="width: 300px;"><option
																	value="主动管理">主动管理</option>
																<option value="被动管理">被动管理</option></select>&nbsp;&nbsp;</span>-|}</td>
													<td width="186.33333333333334" valign="top"
														style="word-break: break-all;" align="center">托管人<br />
													</td>
													<td width="344" valign="top" align="center"><a id="dd"></a>{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="托管人" leipiplugins="select" size="1" orgwidth="300"
															style="width: 300px;"><option value="You"
																	selected="selected">You</option>
																<option value="Me">Me</option></select>&nbsp;&nbsp;</span>-|}</td>
												</tr>
												<tr>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">初始规模</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;"><a id="inputBox"><input
															class="form-control"
															style="width: 280px; text-align: left; height: 25px;"
															title="文本框" value="" name="leipiNewField" orgheight="25"
															orgwidth="280" orgalign="left" orgfontsize="" orghide="0"
															leipiplugins="text" orgtype="text" />元</a><br /></td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">成立日期</td>
													<td valign="top" align="center" colspan="1" rowspan="1">
														<input name="leipiNewField" type="text" value="{macros}"
														title="成立日期" leipiplugins="macros" orgtype="sys_datetime"
														orghide="0" orgwidth="300" style="width: 300px;" />
													</td>
												</tr>
												<tr>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">募集期限</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;"><a id="inputBox"><input
															class="form-control"
															style="width: 120px; text-align: left; height: 25px;"
															title="文本框" value="" name="leipiNewField" orgheight="25"
															orgwidth="120" orgalign="left" orgfontsize="" orghide="0"
															leipiplugins="text" orgtype="text" /></a>单位{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="单位" leipiplugins="select" size="1" orgwidth="100"
															style="width: 100px;"><option value="日"
																	selected="selected">日</option>
																<option value="月">月</option></select>&nbsp;&nbsp;</span>-|}</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">提前结束募集日<br />
													</td>
													<td valign="top" align="center" colspan="1" rowspan="1">
														<input name="leipiNewField" type="text" value="{macros}"
														title="结束日" leipiplugins="macros" orgtype="sys_datetime"
														orghide="0" orgfontsize="" orgwidth="300"
														style="width: 300px;" />
													</td>
												</tr>
												<tr>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">销售方式<br />
													</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">{|-<span
														leipiplugins="radios" title="销售方式" name="leipiNewField"><input
															name="leipiNewField" value="直销" type="radio" />直销&nbsp;<input
															name="leipiNewField" value="代销" type="radio" />代销&nbsp;</span>-|}
													</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">是否开放</td>
													<td valign="top" align="center" colspan="1" rowspan="1">
														{|-<span leipiplugins="select"><select
															name="leipiNewField" title="是否开放" leipiplugins="select"
															size="1" orgwidth="300" style="width: 300px;"><option
																	value="是">是</option>
																<option value="否">否</option></select>&nbsp;&nbsp;</span>-|}
													</td>
												</tr>
												<tr>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">是否分级<br />
													</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="是否分级" leipiplugins="select" size="1"
															orgwidth="300" style="width: 300px;"><option
																	value="是">是</option>
																<option value="否">否</option></select>&nbsp;&nbsp;</span>-|}
													</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">是否有网下打新资格</td>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="是否有网下打新资格" leipiplugins="select" size="1"
															orgwidth="300" style="width: 300px;"><option
																	value="是" selected="selected">是</option>
																<option value="否">否</option></select>&nbsp;&nbsp;</span>-|}
													</td>
												</tr>
												<tr>
													<td valign="top" align="center" colspan="1" rowspan="1"
														style="word-break: break-all;">是否开立银行间账户</td>
													<td valign="top" align="left" colspan="3" rowspan="1"
														style="word-break: break-all;">&nbsp;{|-<span
														leipiplugins="select"><select name="leipiNewField"
															title="是否开立银行间账户" leipiplugins="select" size="1"
															orgwidth="300" style="width: 300px;"><option
																	value="是" selected="selected">是</option>
																<option value="否">否</option></select>&nbsp;&nbsp;</span>-|}
													</td>
												</tr>
											</tbody>
										</table>
										<p>&nbsp; &nbsp; &nbsp;&nbsp;</p>
										</script>
									</div>
								</div>
							
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	${include_js}
	
	<script type="text/javascript">
		var listTableHead = ${list_head};
		var myListHead = eval(listTableHead);
		var listHead = new Array();
		var element = {header : 'ID', name : 'id', hidden : true};
		listHead.push(element);
		$.each(myListHead, function(index, value){
			var key = value.key;
			var text = value.text;
			var isShow = value.isShow;
			if(isShow == '1'){
				element = {header : text, name : key, width : 150};
			} else {
				element = {header : text, name : key, hidden : true};
			}
			listHead.push(element);
		});
	</script>
	
	<script src="${resourcePath}/resource/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/validate/messages_zh.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/mask/jquery.maskedinput.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/layer/laydate/laydate.js"></script>
	<script src="${resourcePath}/resource/js/plugins/jquery/jQuery.print.js"></script>
	<script type="text/javascript" src="${bundlePath}/resource/js/module/form/form.js?v=${_v}"></script>
	
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/plugins/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/plugins/ueditor/ueditor.all.js"> </script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/plugins/ueditor/formdesign/leipi.formdesign.v4.js"></script>
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/plugins/ueditor/formdesign/leipi.form.build.core.js"></script>
	
	<script type="text/javascript" charset="utf-8" src="${resourcePath}/resource/js/formBuild/formBuild.js"></script>
	<script type="text/javascript" src="${resourcePath}/resource/js/plugins/bootstrap/bootstrap-select.js"></script>
	
</body>
</html>
