<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/jquery/jquery.min.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/bootstrap/bootstrap.min.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/metisMenu/jquery.metisMenu.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/slimscroll/jquery.slimscroll.min.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/layer/layer.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/pace/pace.min.js?v=${_v}"></script>

<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/peity/jquery.peity.min.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/jqgrid/i18n/grid.locale-cn.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/jqgrid/jquery.jqGrid.min.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/layer.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/base.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/common.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/contabs.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/inspinia.js?v=${_v}"></script>

<script type="text/javascript" src="${request.contextPath}/resource/js/common/index.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/common/jquery.YssDataGrid.js?v=${_v}"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/plugins/jquery/jquery.hotkeys.js?v=${_v}"></script>
