<script type="text/javascript" src="${ctx}/plugins/jquery/jquery.min.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/bootstrap/bootstrap.min.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/metisMenu/jquery.metisMenu.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/slimscroll/jquery.slimscroll.min.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/layer/layer.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/pace/pace.min.js?v=${_v}"></script>

<script type="text/javascript" src="${ctx}/plugins/peity/jquery.peity.min.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/jqgrid/i18n/grid.locale-cn.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/jqgrid/jquery.jqGrid.min.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/dist/common/layer.js"></script>
<script type="text/javascript" src="${ctx}/dist/common/base.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/dist/common/common.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/dist/common/contabs.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/dist/common/inspinia.js?v=${_v}"></script>

<script type="text/javascript" src="${ctx}/dist/common/index.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/dist/common/jquery.YssDataGrid.js?v=${_v}"></script>
<script type="text/javascript" src="${ctx}/plugins/jquery/jquery.hotkeys.js?v=${_v}"></script>
