@CHARSET "UTF-8";
.branchDiv{
	margin-bottom: 16px
}
.messagee{
	color: blue;
}
.panel-body{
	padding: 0px 0px 0px 0px;
	
}
.ibox-title{
	padding: 0px;
	border: 0;
}

.head-table{
	padding-left:0px;
}
.panel-collapse{
	padding-left:5px;
}
.someClass { background-color: #F8F8F8; background-image: none; }
/* #dataGrid{
	height: 408px;
}
