<!DOCTYPE html>
<html>
<head>
${include_themes}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<link href="${bundlePath}/resource/js/module/customele/customele.css" rel="stylesheet">
<link rel="stylesheet" href="${resourcePath}/resource/themes/css/font-awesome.min.css" media="print"/>
<link rel="stylesheet" href="${resourcePath}/resource/themes/default/css/plugins/jqgrid/ui.jqgrid.css" media="print"/>
<link rel="stylesheet" href="${bundlePath}/resource/js/module/user/print.css" media="print"/>

</head>

<body class="iframeNoScrollBar">
<#assign auth="com.yss.fast.webplus.shiro.AuthTag"?new()>
<div class="ibox float-e-margins">
     <div id="header" class="ibox-title gray-bg paddingTB">
        <div id="tab-1" class="tab-pane active">
		<div class="panel-body">
			<div class="col-sm-12 head-table" role="group">
				<div id="_basicSearch" class="basicSearch">
					<ul>
						<li class="basicSearchAdv">
							<#if auth('user:insert')>
								<a href="#" id="btnAdd" title="添加"><i class="fa fa-plus"></i>添加</a>
							</#if>
							<#if auth('user:update')>
								<a href="#" id="btnEdit" title="修改"><i class="fa fa-file-text-o"></i>修改</a>
							</#if>
							<!-- <#if auth('user:copy')>
								<a href="#" id="btnCopy" title="复制"><i class="glyphicon glyphicon-duplicate"></i>复制</a>
							</#if> -->
							<#if auth('user:delete')>
								<a href="#" id="btnDelete" title="删除"><i class="glyphicon glyphicon-trash"></i>删除</a>
							</#if>
							<!-- <#if auth('user:check')>
								<a href="#" id="btnCheck" title="审核"><i class="glyphicon glyphicon-check"></i>审核</a>
							</#if>
							<#if auth('user:uncheck')>
								<a href="#" id="btnUncheck" title="反审核"><i class="glyphicon glyphicon-compressed"></i>反审核</a>
							</#if> -->
							<!-- <#if auth('user:export')>
								<a href="#" id="btnExport" title="导出"><i class="glyphicon glyphicon-open-file"></i>导出</a>
							</#if>
							<#if auth('user:print')>
								<a href="#" id="btnPrint" title="打印" onclick="print()"><i class="glyphicon glyphicon-print"></i>打印</a>
							</#if> -->
							<a href="#" id="btnHelp" title="帮助" ><i class="glyphicon glyphicon-question-sign"></i>帮助</a>
			    		</li>
			    		<!-- basicSearch form start -->
			    		<div class="basicSearchRight">
			    		<div class="inline-left" >
			    		<form id="searchForm" modelAttribute="role" action="${bundlePath}/customele" method="post" class="form-inline" onsubmit="return false;">
				    		<div class="input-group input-group-sm">
								<input type="text" class="form-control " id="C_NAME" name="C_NAME" placeholder="请输入控件名" />
							</div>
							<div class="input-group input-group-sm">
								<input type="text" class="form-control " id="C_CODE" name="C_CODE" placeholder="请输入控件编码" />
							</div>
							<div class="input-group input-group-sm">
								<select class="form-control" id="C_TYPE" name="C_TYPE">
									<option value="">全部数据</option>
									<option value="system">系统标签</option>
									<option value="custom">自定义标签</option>
								</select>
							</div>
								<div class="input-group input-group-sm">
									<button id="btnSearch" title="查询">
										<i class="fa fa-search"></i>查询
									</button>
								</div>
						</form>
						</div>
						<div class="inline-left">
						<form>
						<button id="_advSearchBtn" style="float:right;" class="dropdown-toggle" data-toggle="dropdown" title="更多">
							<i class="fa fa-th-large"></i>更多
						</button>
			    		<!-- basicSearch form end -->
   						<ul class="dropdown-menu" style="width:500px;">
	                       	<li><div class="gap" style="height:15px;"><h5><i class="fa fa-caret-square-o-down"></i>高级检索</h5></div></li>
	                       	<li>
	                       		<div class="input-group input-group-sm gap" data-stopPropagation="true">
		                       		<button id="btnAddRow" title="添加" type="button">
										<i class="fa fa-plus"></i>添加
									</button>
		                       		<button id="btnSearch2" title="查询" type="button">
										<i class="fa fa-search"></i>查询
									</button>
									<button id="btnReset" title="重置" data-stopPropagation="true" type="button">
										<i class="glyphicon glyphicon-share-alt"></i>重置
									</button>
								</div>
	                       	</li>
	                        <li style="margin-top: 5px;" data-stopPropagation="true">
	                        	<div class="input-group input-group-sm gap">
									<select class="form-control" name="userType" style="width:80px;">
										<option value="and">并</option>
										<option value="or">或</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="c_NAME" name="c_NAME" placeholder="条件1" />
									<select class="form-control" name="userType" style="width:80px;">
										<option value="eq">等于</option>
										<option value="ne">不等</option>
										<option value="lt">小于</option>
										<option value="le">小于等于</option>
										<option value="gt">大于</option>
										<option value="ge">大于等于</option>
									</select>
									<input type="text" class="form-control" style="width:100px;" id="c_CODE" name="c_CODE" placeholder="条件2" />
									<a href="#" onclick="delrow(this)"><i class="fa fa-times-circle" style="margin:10px 10px 10px 10px;"></i></a>
								</div>
	                        </li>
                    	</ul>
                    	</form>
                    	</div>
                    	</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	<div id="table_div" class="jqGrid_wrapper">
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
    
<!-- toolbar start 注意class名称要准确！！！ -->
	<div id="toolbar" style="display:none;">
		<a class="layui-layer-add" href="javascript:;" title="添加"><i class="fa fa-plus" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-edit" href="javascript:;" title="修改"><i class="fa fa-edit" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-copy" href="javascript:;" title="复制"><i class="fa fa-copy" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-delete" href="javascript:;" title="删除"><i class="fa fa-trash-o" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-save" href="javascript:;" title="保存"><i class="fa fa-save" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-undo" href="javascript:;" title="撤销"><i class="fa fa-undo" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-up" href="javascript:;" title="上移"><i class="fa fa-arrow-up" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-down" href="javascript:;" title="下移"><i class="fa fa-arrow-down" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
		<a class="layui-layer-close layui-layer-close1" href="javascript:;" title="关闭"><i class="fa fa-close" aria-hidden="true" style="color:#FFFFFF;font-size:15px;"></i></a>
	</div>
<!-- toolbar end -->

	<div id="form_id" style="display: none;">
		<div >
			<div>
				<div class="col-sm-12">
					<div class="ibox-content table-form">
						<form class="form-horizontal m-t" id="signupForm" onsubmit="return false;">
						
							<input type="hidden" value="" name="id" id="id">
							<input type="hidden" id="operate2" name="operate2" value="" class="form-control" type="text">
							<input type="hidden" id="n_CHECK_STATE" name="n_CHECK_STATE" value="" class="form-control" type="text">
							<div class="content">
								<div class="form-group">
									<label class="col-sm-2 control-label messagee">标签属性</label>
								</div>
								<div class="row branchDiv">
									<div class="toExamine"> 
										<label class="col-sm-2 control-label">标签编码：</label>
										<div class="col-sm-4">
											<input id="c_CODE" name="c_CODE" class="form-control" type="text" value="" placeholder="必填项">
										</div>
									</div>
									<div class="toExamine">
										<label class="col-sm-2 control-label">标签名称：</label>
										<div class="col-sm-4">
											<input id="c_NAME" name="c_NAME" class="form-control" type="text" value="" placeholder="必填项">
										</div>
									</div>
								</div>
								<div class="row branchDiv">
									<div class="toExamine">
										<label class="col-sm-2 control-label">标签库类型：</label>
										<div class="col-sm-4">
											<select id="c_TYPE" name="c_TYPE" class="form-control m-b">
								               <!-- <option value="textBox">文本框</option>
								               <option value="textArea">文本域</option>
								               <option value="combox">下拉框</option>
								               <option value="single">单选框</option>
								               <option value="multiple">复选框</option> -->
								           </select>
										</div>
									</div>
									
									<div class="toExamine">
										<label class="col-sm-2 control-label">标签类型：</label>
										<div class="col-sm-4">
											<select id="c_WIDGETS_TYPE" name="c_WIDGETS_TYPE" class="form-control m-b">
								               <!-- <option value="textBox">文本框</option>
								               <option value="textArea">文本域</option>
								               <option value="combox">下拉框</option>
								               <option value="single">单选框</option>
								               <option value="multiple">复选框</option> -->
								           </select>
										</div>
									</div>
									
								</div>
								<div class="row branchDiv">
									<div class="toExamine">
										<label class="col-sm-2 control-label">标签所属组别：</label>
										<div class="col-sm-4">
											<input type="text" list="c_GROUP_LIST" id="c_GROUP" name="c_GROUP" class="selectpicker form-control" data-live-search="true">
											<datalist id="c_GROUP_LIST" class="selectpicker">
									               <!-- <option>系统标签</option>
									               <option>公共标签</option>
									               <option>业务标签</option>
									               <option>其他</option> -->
											</datalist>
										</div>
									</div>
									<!-- <div class="toExamine">
										<label class="col-sm-2 control-label">是否隐藏：</label>
										<div class="col-sm-4">
											<select id="c_IS_HIDDEN" name="c_IS_HIDDEN" class="form-control m-b">
								               <option value="0">否</option>
								               <option value="1">是</option>
								           </select>
										</div>
									</div> -->
								</div>
								<!-- <div class="row branchDiv">
									<div class="toExamine">
										<label class="col-sm-2 control-label">默认值：</label>
										<div class="col-sm-4">
											<input id="c_DEFAULT_VAL" name="c_DEFAULT_VAL" class="form-control" type="text" value="" placeholder="无则不填">
										</div>
									</div>
								</div> -->
								<div class="row branchDiv">
									<div class="toExamine">
                           				<label class="col-sm-2 control-label">标签内容：</label>
										<div class="col-sm-10">
					 						<textarea id="c_CONTENT" class="form-control" rows="6"
					 							name="c_CONTENT" placeholder="请输入控件代码"></textarea>
					 					</div>
								 	</div>
							    </div>
							</div>
							<div class="row">&nbsp;&nbsp;</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	${include_js}
	
	<script type="text/javascript">
		var listTableHead = ${list_head};
		var myListHead = eval(listTableHead);
		var listHead = new Array();
		var element = {header : 'ID', name : 'id', hidden : true};
		listHead.push(element);
		$.each(myListHead, function(index, value){
			var key = value.key;
			var text = value.text;
			var isShow = value.isShow;
			if(isShow == '1'){
				element = {header : text, name : key, width : 150};
			} else {
				element = {header : text, name : key, hidden : true};
			}
			listHead.push(element);
		});
	</script>
	
	<script src="${resourcePath}/resource/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/validate/messages_zh.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/mask/jquery.maskedinput.min.js"></script>
	<script src="${resourcePath}/resource/js/plugins/layer/laydate/laydate.js"></script>
	<script src="${resourcePath}/resource/js/plugins/jquery/jQuery.print.js"></script>
	<script type="text/javascript" src="${bundlePath}/resource/js/module/customele/customele.js?v=${_v}"></script>
	
	<script type="text/javascript">
	 
		
		function print(){
			$(".jqGrid_wrapper").print({
			    globalStyles : false,			//是否包含父文档的样式，默认为true
			    mediaPrint : true,				//是否包含media='print'的链接标签。会被globalStyles选项覆盖，默认为false
			    stylesheet : null,				//外部样式表的URL地址，默认为null
			    noPrintSelector : ".no-print",  //不想打印的元素的jQuery选择器，默认为".no-print"
			    iframe : true,					//是否使用一个iframe来替代打印表单的弹出窗口，true为在本页面进行打印，false就是说新开一个页面打印，默认为true
			    append : null,					//将内容添加到打印内容的后面
			    prepend : null,					//将内容添加到打印内容的前面，可以用来作为要打印内容
			    deferred : $.Deferred()			//回调函数
			}); 
		}
	</script>
</body>
</html>
