<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.DictI18nMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.DictI18n">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FDICT_TYPE" property="dictType" jdbcType="VARCHAR" />
		<result column="FDICT_CODE" property="dictCode" jdbcType="VARCHAR" />
		<result column="FLANG_CODE" property="langCode" jdbcType="VARCHAR" />
		<result column="FTEXT" property="text" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.rules != null and criteria.rules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.rules" item="item">
									<choose>
										<when test="item.isNoValue()">
											${criteria.op} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.op} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isListValue()">
											${criteria.op} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.groups != null and criteria.groups.size() &gt; 0">
							${criteria.gop}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.groups" item="groupItem">
									<if test="groupItem.rules != null and groupItem.rules.size() &gt; 0">
										${criteria.rgop}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.rules" item="ruleItem">
												<choose>
													<when test="ruleItem.isNoValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
													</when>
													<when test="ruleItem.isSingleValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value}
													</when>
													<when test="ruleItem.isBetweenValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op} #{ruleItem.value} and #{ruleItem.secondValue}
													</when>
													<when test="ruleItem.isListValue()">
														${groupItem.op} ${ruleItem.field} ${ruleItem.op}
														<foreach collection="ruleItem.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FDICT_TYPE, FDICT_CODE, FLANG_CODE, FTEXT 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_TYPE&quot;)">
						FDICT_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_CODE&quot;)">
						FDICT_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FLANG_CODE&quot;)">
						FLANG_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FTEXT&quot;)">
						FTEXT 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select
		<include refid="Base_Column_List" />
		from ect_dict_i18n
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.model.Parameter">
		select 
		<include refid="Base_Column_List" />
		from ect_dict_i18n
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_dict_i18n
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_dict_i18n
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.model.Parameter">
		delete from ect_dict_i18n
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.DictI18n">
		insert into ect_dict_i18n (FID, FDICT_TYPE, FDICT_CODE, FLANG_CODE, FTEXT )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{dictType, jdbcType=VARCHAR}, 
			#{dictCode, jdbcType=VARCHAR}, 
			#{langCode, jdbcType=VARCHAR}, 
			#{text, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.DictI18n">
		insert into ect_dict_i18n
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="dictType != null">
				FDICT_TYPE,
			</if>
			<if test="dictCode != null">
				FDICT_CODE,
			</if>
			<if test="langCode != null">
				FLANG_CODE,
			</if>
			<if test="text != null">
				FTEXT
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				#{dictType, jdbcType=VARCHAR},
			</if>
			<if test="dictCode != null">
				#{dictCode, jdbcType=VARCHAR},
			</if>
			<if test="langCode != null">
				#{langCode, jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				#{text, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<select id="countByCondition" parameterType="cn.elwy.common.model.Parameter" resultType="java.lang.Long">
		select count(*) from ect_dict_i18n
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_dict_i18n
		<set>
			<if test="data.dictType != null">
				FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			</if>
			<if test="data.dictCode != null">
				FDICT_CODE = #{data.dictCode, jdbcType=VARCHAR},
			</if>
			<if test="data.langCode != null">
				FLANG_CODE = #{data.langCode, jdbcType=VARCHAR},
			</if>
			<if test="data.text != null">
				FTEXT = #{data.text, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_dict_i18n
		set 
			FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			FDICT_CODE = #{data.dictCode, jdbcType=VARCHAR},
			FLANG_CODE = #{data.langCode, jdbcType=VARCHAR},
			FTEXT = #{data.text, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.DictI18n">
		update ect_dict_i18n
		<set>
			<if test="dictType != null">
				FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			</if>
			<if test="dictCode != null">
				FDICT_CODE = #{dictCode, jdbcType=VARCHAR},
			</if>
			<if test="langCode != null">
				FLANG_CODE = #{langCode, jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				FTEXT = #{text, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.DictI18n">
		update ect_dict_i18n
		set 
			
			FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			FDICT_CODE = #{dictCode, jdbcType=VARCHAR},
			FLANG_CODE = #{langCode, jdbcType=VARCHAR},
			FTEXT = #{text, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>