<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.DictMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.Dict">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FDICT_TYPE" property="dictType" jdbcType="VARCHAR" />
		<result column="FDICT_CODE" property="dictCode" jdbcType="VARCHAR" />
		<result column="FDICT_VALUE" property="dictValue" jdbcType="VARCHAR" />
		<result column="FPARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
		<result column="FLVALUE" property="lvalue" jdbcType="INTEGER" />
		<result column="FRVALUE" property="rvalue" jdbcType="INTEGER" />
		<result column="FLEVEL" property="level" jdbcType="INTEGER" />
		<result column="FSUBNUM" property="subnum" jdbcType="INTEGER" />
		<result column="FORDER" property="order" jdbcType="INTEGER" />
		<result column="FENABLE" property="enable" jdbcType="BIT" />
		<result column="FAUDIT_STATE" property="auditState" jdbcType="SMALLINT" />
		<result column="FDELETE_STATE" property="deleteState" jdbcType="SMALLINT" />
		<result column="FEDIT_STATE" property="editState" jdbcType="SMALLINT" />
		<result column="FAUDITOR_ID" property="auditorId" jdbcType="VARCHAR" />
		<result column="FAUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
		<result column="FCREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
		<result column="FCREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="FDELETOR_ID" property="deletorId" jdbcType="VARCHAR" />
		<result column="FDELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
		<result column="FEDITOR_ID" property="editorId" jdbcType="VARCHAR" />
		<result column="FEDIT_TIME" property="editTime" jdbcType="TIMESTAMP" />
		<result column="FREMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.queryRules != null and criteria.queryRules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.queryRules" item="item" index="_i">
									<choose>
										<when test="item.isNoValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isMultiValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.ruleGroups != null and criteria.ruleGroups.size() &gt; 0">
							${criteria.op}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.ruleGroups" item="groupItem" index="_j">
									<if test="groupItem.queryRules != null and groupItem.queryRules.size() &gt; 0">
										${criteria.groupOps[_j]}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.queryRules" item="item" index="_k">
												<choose>
													<when test="item.isNoValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
													</when>
													<when test="item.isSingleValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value}
													</when>
													<when test="item.isBetweenValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
													</when>
													<when test="item.isMultiValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
														<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FDICT_TYPE, FDICT_CODE, FDICT_VALUE, FPARENT_CODE, FLVALUE, FRVALUE, FLEVEL, FSUBNUM, FORDER, FENABLE, FAUDIT_STATE, FDELETE_STATE, FEDIT_STATE, FAUDITOR_ID, FAUDIT_TIME, FCREATOR_ID, FCREATE_TIME, FDELETOR_ID, FDELETE_TIME, FEDITOR_ID, FEDIT_TIME, FREMARK 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_TYPE&quot;)">
						FDICT_TYPE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_CODE&quot;)">
						FDICT_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDICT_VALUE&quot;)">
						FDICT_VALUE, 
					</if>
					<if test="!filterColumns.contains(&quot;FPARENT_CODE&quot;)">
						FPARENT_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FLVALUE&quot;)">
						FLVALUE, 
					</if>
					<if test="!filterColumns.contains(&quot;FRVALUE&quot;)">
						FRVALUE, 
					</if>
					<if test="!filterColumns.contains(&quot;FLEVEL&quot;)">
						FLEVEL, 
					</if>
					<if test="!filterColumns.contains(&quot;FSUBNUM&quot;)">
						FSUBNUM, 
					</if>
					<if test="!filterColumns.contains(&quot;FORDER&quot;)">
						FORDER, 
					</if>
					<if test="!filterColumns.contains(&quot;FENABLE&quot;)">
						FENABLE, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDIT_STATE&quot;)">
						FAUDIT_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETE_STATE&quot;)">
						FDELETE_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDIT_STATE&quot;)">
						FEDIT_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDITOR_ID&quot;)">
						FAUDITOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FAUDIT_TIME&quot;)">
						FAUDIT_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FCREATOR_ID&quot;)">
						FCREATOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FCREATE_TIME&quot;)">
						FCREATE_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETOR_ID&quot;)">
						FDELETOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETE_TIME&quot;)">
						FDELETE_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDITOR_ID&quot;)">
						FEDITOR_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDIT_TIME&quot;)">
						FEDIT_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FREMARK&quot;)">
						FREMARK 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="countByCondition" parameterType="cn.elwy.common.entity.Condition" resultType="java.lang.Long">
		select count(*) from ect_dict
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select
		<include refid="Base_Column_List" />
		from ect_dict
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select 
		<include refid="Base_Column_List" />
		from ect_dict
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_dict
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_dict
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.entity.Condition">
		delete from ect_dict
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.Dict">
		insert into ect_dict (FID, FDICT_TYPE, FDICT_CODE, FDICT_VALUE, FPARENT_CODE, FLVALUE, FRVALUE, FLEVEL, FSUBNUM, FORDER, FENABLE, FAUDIT_STATE, FDELETE_STATE, FEDIT_STATE, FAUDITOR_ID, FAUDIT_TIME, FCREATOR_ID, FCREATE_TIME, FDELETOR_ID, FDELETE_TIME, FEDITOR_ID, FEDIT_TIME, FREMARK )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{dictType, jdbcType=VARCHAR}, 
			#{dictCode, jdbcType=VARCHAR}, 
			#{dictValue, jdbcType=VARCHAR}, 
			#{parentCode, jdbcType=VARCHAR}, 
			#{lvalue, jdbcType=INTEGER}, 
			#{rvalue, jdbcType=INTEGER}, 
			#{level, jdbcType=INTEGER}, 
			#{subnum, jdbcType=INTEGER}, 
			#{order, jdbcType=INTEGER}, 
			#{enable, jdbcType=BIT}, 
			#{auditState, jdbcType=SMALLINT}, 
			#{deleteState, jdbcType=SMALLINT}, 
			#{editState, jdbcType=SMALLINT}, 
			#{auditorId, jdbcType=VARCHAR}, 
			#{auditTime, jdbcType=TIMESTAMP}, 
			#{creatorId, jdbcType=VARCHAR}, 
			#{createTime, jdbcType=TIMESTAMP}, 
			#{deletorId, jdbcType=VARCHAR}, 
			#{deleteTime, jdbcType=TIMESTAMP}, 
			#{editorId, jdbcType=VARCHAR}, 
			#{editTime, jdbcType=TIMESTAMP}, 
			#{remark, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.Dict">
		insert into ect_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="dictType != null">
				FDICT_TYPE,
			</if>
			<if test="dictCode != null">
				FDICT_CODE,
			</if>
			<if test="dictValue != null">
				FDICT_VALUE,
			</if>
			<if test="parentCode != null">
				FPARENT_CODE,
			</if>
			<if test="lvalue != null">
				FLVALUE,
			</if>
			<if test="rvalue != null">
				FRVALUE,
			</if>
			<if test="level != null">
				FLEVEL,
			</if>
			<if test="subnum != null">
				FSUBNUM,
			</if>
			<if test="order != null">
				FORDER,
			</if>
			<if test="enable != null">
				FENABLE,
			</if>
			<if test="auditState != null">
				FAUDIT_STATE,
			</if>
			<if test="deleteState != null">
				FDELETE_STATE,
			</if>
			<if test="editState != null">
				FEDIT_STATE,
			</if>
			<if test="auditorId != null">
				FAUDITOR_ID,
			</if>
			<if test="auditTime != null">
				FAUDIT_TIME,
			</if>
			<if test="creatorId != null">
				FCREATOR_ID,
			</if>
			<if test="createTime != null">
				FCREATE_TIME,
			</if>
			<if test="deletorId != null">
				FDELETOR_ID,
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME,
			</if>
			<if test="editorId != null">
				FEDITOR_ID,
			</if>
			<if test="editTime != null">
				FEDIT_TIME,
			</if>
			<if test="remark != null">
				FREMARK
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				#{dictType, jdbcType=VARCHAR},
			</if>
			<if test="dictCode != null">
				#{dictCode, jdbcType=VARCHAR},
			</if>
			<if test="dictValue != null">
				#{dictValue, jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				#{parentCode, jdbcType=VARCHAR},
			</if>
			<if test="lvalue != null">
				#{lvalue, jdbcType=INTEGER},
			</if>
			<if test="rvalue != null">
				#{rvalue, jdbcType=INTEGER},
			</if>
			<if test="level != null">
				#{level, jdbcType=INTEGER},
			</if>
			<if test="subnum != null">
				#{subnum, jdbcType=INTEGER},
			</if>
			<if test="order != null">
				#{order, jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				#{enable, jdbcType=BIT},
			</if>
			<if test="auditState != null">
				#{auditState, jdbcType=SMALLINT},
			</if>
			<if test="deleteState != null">
				#{deleteState, jdbcType=SMALLINT},
			</if>
			<if test="editState != null">
				#{editState, jdbcType=SMALLINT},
			</if>
			<if test="auditorId != null">
				#{auditorId, jdbcType=VARCHAR},
			</if>
			<if test="auditTime != null">
				#{auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deletorId != null">
				#{deletorId, jdbcType=VARCHAR},
			</if>
			<if test="deleteTime != null">
				#{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editorId != null">
				#{editorId, jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				#{editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_dict
		<set>
			<if test="data.dictType != null">
				FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			</if>
			<if test="data.dictCode != null">
				FDICT_CODE = #{data.dictCode, jdbcType=VARCHAR},
			</if>
			<if test="data.dictValue != null">
				FDICT_VALUE = #{data.dictValue, jdbcType=VARCHAR},
			</if>
			<if test="data.parentCode != null">
				FPARENT_CODE = #{data.parentCode, jdbcType=VARCHAR},
			</if>
			<if test="data.lvalue != null">
				FLVALUE = #{data.lvalue, jdbcType=INTEGER},
			</if>
			<if test="data.rvalue != null">
				FRVALUE = #{data.rvalue, jdbcType=INTEGER},
			</if>
			<if test="data.level != null">
				FLEVEL = #{data.level, jdbcType=INTEGER},
			</if>
			<if test="data.subnum != null">
				FSUBNUM = #{data.subnum, jdbcType=INTEGER},
			</if>
			<if test="data.order != null">
				FORDER = #{data.order, jdbcType=INTEGER},
			</if>
			<if test="data.enable != null">
				FENABLE = #{data.enable, jdbcType=BIT},
			</if>
			<if test="data.auditState != null">
				FAUDIT_STATE = #{data.auditState, jdbcType=SMALLINT},
			</if>
			<if test="data.deleteState != null">
				FDELETE_STATE = #{data.deleteState, jdbcType=SMALLINT},
			</if>
			<if test="data.editState != null">
				FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			</if>
			<if test="data.auditorId != null">
				FAUDITOR_ID = #{data.auditorId, jdbcType=VARCHAR},
			</if>
			<if test="data.auditTime != null">
				FAUDIT_TIME = #{data.auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.creatorId != null">
				FCREATOR_ID = #{data.creatorId, jdbcType=VARCHAR},
			</if>
			<if test="data.createTime != null">
				FCREATE_TIME = #{data.createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.deletorId != null">
				FDELETOR_ID = #{data.deletorId, jdbcType=VARCHAR},
			</if>
			<if test="data.deleteTime != null">
				FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.editorId != null">
				FEDITOR_ID = #{data.editorId, jdbcType=VARCHAR},
			</if>
			<if test="data.editTime != null">
				FEDIT_TIME = #{data.editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.remark != null">
				FREMARK = #{data.remark, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_dict
		set 
			FDICT_TYPE = #{data.dictType, jdbcType=VARCHAR},
			FDICT_CODE = #{data.dictCode, jdbcType=VARCHAR},
			FDICT_VALUE = #{data.dictValue, jdbcType=VARCHAR},
			FPARENT_CODE = #{data.parentCode, jdbcType=VARCHAR},
			FLVALUE = #{data.lvalue, jdbcType=INTEGER},
			FRVALUE = #{data.rvalue, jdbcType=INTEGER},
			FLEVEL = #{data.level, jdbcType=INTEGER},
			FSUBNUM = #{data.subnum, jdbcType=INTEGER},
			FORDER = #{data.order, jdbcType=INTEGER},
			FENABLE = #{data.enable, jdbcType=BIT},
			FAUDIT_STATE = #{data.auditState, jdbcType=SMALLINT},
			FDELETE_STATE = #{data.deleteState, jdbcType=SMALLINT},
			FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			FAUDITOR_ID = #{data.auditorId, jdbcType=VARCHAR},
			FAUDIT_TIME = #{data.auditTime, jdbcType=TIMESTAMP},
			FCREATOR_ID = #{data.creatorId, jdbcType=VARCHAR},
			FCREATE_TIME = #{data.createTime, jdbcType=TIMESTAMP},
			FDELETOR_ID = #{data.deletorId, jdbcType=VARCHAR},
			FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			FEDITOR_ID = #{data.editorId, jdbcType=VARCHAR},
			FEDIT_TIME = #{data.editTime, jdbcType=TIMESTAMP},
			FREMARK = #{data.remark, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.Dict">
		update ect_dict
		<set>
			<if test="dictType != null">
				FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			</if>
			<if test="dictCode != null">
				FDICT_CODE = #{dictCode, jdbcType=VARCHAR},
			</if>
			<if test="dictValue != null">
				FDICT_VALUE = #{dictValue, jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				FPARENT_CODE = #{parentCode, jdbcType=VARCHAR},
			</if>
			<if test="lvalue != null">
				FLVALUE = #{lvalue, jdbcType=INTEGER},
			</if>
			<if test="rvalue != null">
				FRVALUE = #{rvalue, jdbcType=INTEGER},
			</if>
			<if test="level != null">
				FLEVEL = #{level, jdbcType=INTEGER},
			</if>
			<if test="subnum != null">
				FSUBNUM = #{subnum, jdbcType=INTEGER},
			</if>
			<if test="order != null">
				FORDER = #{order, jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				FENABLE = #{enable, jdbcType=BIT},
			</if>
			<if test="auditState != null">
				FAUDIT_STATE = #{auditState, jdbcType=SMALLINT},
			</if>
			<if test="deleteState != null">
				FDELETE_STATE = #{deleteState, jdbcType=SMALLINT},
			</if>
			<if test="editState != null">
				FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			</if>
			<if test="auditorId != null">
				FAUDITOR_ID = #{auditorId, jdbcType=VARCHAR},
			</if>
			<if test="auditTime != null">
				FAUDIT_TIME = #{auditTime, jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				FCREATOR_ID = #{creatorId, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				FCREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deletorId != null">
				FDELETOR_ID = #{deletorId, jdbcType=VARCHAR},
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editorId != null">
				FEDITOR_ID = #{editorId, jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				FEDIT_TIME = #{editTime, jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				FREMARK = #{remark, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.Dict">
		update ect_dict
		set 
			
			FDICT_TYPE = #{dictType, jdbcType=VARCHAR},
			FDICT_CODE = #{dictCode, jdbcType=VARCHAR},
			FDICT_VALUE = #{dictValue, jdbcType=VARCHAR},
			FPARENT_CODE = #{parentCode, jdbcType=VARCHAR},
			FLVALUE = #{lvalue, jdbcType=INTEGER},
			FRVALUE = #{rvalue, jdbcType=INTEGER},
			FLEVEL = #{level, jdbcType=INTEGER},
			FSUBNUM = #{subnum, jdbcType=INTEGER},
			FORDER = #{order, jdbcType=INTEGER},
			FENABLE = #{enable, jdbcType=BIT},
			FAUDIT_STATE = #{auditState, jdbcType=SMALLINT},
			FDELETE_STATE = #{deleteState, jdbcType=SMALLINT},
			FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			FAUDITOR_ID = #{auditorId, jdbcType=VARCHAR},
			FAUDIT_TIME = #{auditTime, jdbcType=TIMESTAMP},
			FCREATOR_ID = #{creatorId, jdbcType=VARCHAR},
			FCREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
			FDELETOR_ID = #{deletorId, jdbcType=VARCHAR},
			FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			FEDITOR_ID = #{editorId, jdbcType=VARCHAR},
			FEDIT_TIME = #{editTime, jdbcType=TIMESTAMP},
			FREMARK = #{remark, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>