<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.LanguageMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.Language">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FLANG_CODE" property="langCode" jdbcType="VARCHAR" />
		<result column="FLANG_NAME" property="langName" jdbcType="VARCHAR" />
		<result column="FREGION" property="region" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.queryRules != null and criteria.queryRules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.queryRules" item="item" index="_i">
									<choose>
										<when test="item.isNoValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isListValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.ruleGroups != null and criteria.ruleGroups.size() &gt; 0">
							${criteria.op}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.ruleGroups" item="groupItem" index="_j">
									<if test="groupItem.queryRules != null and groupItem.queryRules.size() &gt; 0">
										${criteria.groupOps[_j]}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.queryRules" item="item" index="_k">
												<choose>
													<when test="item.isNoValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
													</when>
													<when test="item.isSingleValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value}
													</when>
													<when test="item.isBetweenValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
													</when>
													<when test="item.isListValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
														<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FLANG_CODE, FLANG_NAME, FREGION 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FLANG_CODE&quot;)">
						FLANG_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FLANG_NAME&quot;)">
						FLANG_NAME, 
					</if>
					<if test="!filterColumns.contains(&quot;FREGION&quot;)">
						FREGION 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="countByCondition" parameterType="cn.elwy.common.entity.Condition" resultType="java.lang.Long">
		select count(*) from ect_language
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select
		<include refid="Base_Column_List" />
		from ect_language
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select 
		<include refid="Base_Column_List" />
		from ect_language
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_language
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_language
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.entity.Condition">
		delete from ect_language
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.Language">
		insert into ect_language (FID, FLANG_CODE, FLANG_NAME, FREGION )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{langCode, jdbcType=VARCHAR}, 
			#{langName, jdbcType=VARCHAR}, 
			#{region, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.Language">
		insert into ect_language
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="langCode != null">
				FLANG_CODE,
			</if>
			<if test="langName != null">
				FLANG_NAME,
			</if>
			<if test="region != null">
				FREGION
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="langCode != null">
				#{langCode, jdbcType=VARCHAR},
			</if>
			<if test="langName != null">
				#{langName, jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				#{region, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_language
		<set>
			<if test="data.langCode != null">
				FLANG_CODE = #{data.langCode, jdbcType=VARCHAR},
			</if>
			<if test="data.langName != null">
				FLANG_NAME = #{data.langName, jdbcType=VARCHAR},
			</if>
			<if test="data.region != null">
				FREGION = #{data.region, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_language
		set 
			FLANG_CODE = #{data.langCode, jdbcType=VARCHAR},
			FLANG_NAME = #{data.langName, jdbcType=VARCHAR},
			FREGION = #{data.region, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.Language">
		update ect_language
		<set>
			<if test="langCode != null">
				FLANG_CODE = #{langCode, jdbcType=VARCHAR},
			</if>
			<if test="langName != null">
				FLANG_NAME = #{langName, jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				FREGION = #{region, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.Language">
		update ect_language
		set 
			
			FLANG_CODE = #{langCode, jdbcType=VARCHAR},
			FLANG_NAME = #{langName, jdbcType=VARCHAR},
			FREGION = #{region, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>