<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.elwy.eplus.core.entity.UserConfigMapper">
	<resultMap id="BaseResultMap" type="cn.elwy.eplus.core.entity.UserConfig">
		<id column="FID" property="id" jdbcType="VARCHAR" />
		<result column="FUSER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="FCONF_CODE" property="confCode" jdbcType="VARCHAR" />
		<result column="FCONF_NAME" property="confName" jdbcType="VARCHAR" />
		<result column="FVERSION" property="version" jdbcType="INTEGER" />
		<result column="FENABLE" property="enable" jdbcType="BIT" />
		<result column="FDELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
		<result column="FEDIT_STATE" property="editState" jdbcType="SMALLINT" />
		<result column="FCONTENT" property="content" jdbcType="CLOB" />
		<result column="FREMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Condition_Where_Clause">
		<where>
			<choose>
				<when test="criterias != null and criterias.size() &gt; 0">
					<foreach collection="criterias" item="criteria" separator="AND">
						<if test="criteria.queryRules != null and criteria.queryRules.size() &gt; 0">
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.queryRules" item="item" index="_i">
									<choose>
										<when test="item.isNoValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
										</when>
										<when test="item.isSingleValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value}
										</when>
										<when test="item.isBetweenValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
										</when>
										<when test="item.isMultiValue()">
											${criteria.queryOps[_i]} ${item.field} ${item.op}
											<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
												#{listItem}
											</foreach>
										</when>
									</choose>
								</foreach>
							</trim>
						</if>
						<if test="criteria.ruleGroups != null and criteria.ruleGroups.size() &gt; 0">
							${criteria.op}
							<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
								<foreach collection="criteria.ruleGroups" item="groupItem" index="_j">
									<if test="groupItem.queryRules != null and groupItem.queryRules.size() &gt; 0">
										${criteria.groupOps[_j]}
										<trim prefix="(" suffix=")" prefixOverrides="AND|OR">
											<foreach collection="groupItem.queryRules" item="item" index="_k">
												<choose>
													<when test="item.isNoValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
													</when>
													<when test="item.isSingleValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value}
													</when>
													<when test="item.isBetweenValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op} #{item.value} and #{item.secondValue}
													</when>
													<when test="item.isMultiValue()">
														${groupItem.queryOps[_k]} ${item.field} ${item.op}
														<foreach collection="item.value" item="listItem" open="(" close=")" separator=",">
															#{listItem}
														</foreach>
													</when>
												</choose>
											</foreach>
										</trim>
									</if>
								</foreach>
							</trim>
						</if>
					</foreach>
				</when>
				<when test="param != null">
					<foreach item="value" index="key" collection="param.entrySet()" separator="AND">  
						${key} = #{value}
					</foreach>
				</when>
			</choose>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<choose>
			<when test="filterColumns == null || filterColumns.isEmpty()">
		FID, FUSER_ID, FCONF_CODE, FCONF_NAME, FVERSION, FENABLE, FDELETE_TIME, FEDIT_STATE, FCONTENT, FREMARK 
			</when>
			<otherwise>
				<trim prefixOverrides=",">
					<if test="!filterColumns.contains(&quot;FID&quot;)">
						FID, 
					</if>
					<if test="!filterColumns.contains(&quot;FUSER_ID&quot;)">
						FUSER_ID, 
					</if>
					<if test="!filterColumns.contains(&quot;FCONF_CODE&quot;)">
						FCONF_CODE, 
					</if>
					<if test="!filterColumns.contains(&quot;FCONF_NAME&quot;)">
						FCONF_NAME, 
					</if>
					<if test="!filterColumns.contains(&quot;FVERSION&quot;)">
						FVERSION, 
					</if>
					<if test="!filterColumns.contains(&quot;FENABLE&quot;)">
						FENABLE, 
					</if>
					<if test="!filterColumns.contains(&quot;FDELETE_TIME&quot;)">
						FDELETE_TIME, 
					</if>
					<if test="!filterColumns.contains(&quot;FEDIT_STATE&quot;)">
						FEDIT_STATE, 
					</if>
					<if test="!filterColumns.contains(&quot;FCONTENT&quot;)">
						FCONTENT, 
					</if>
					<if test="!filterColumns.contains(&quot;FREMARK&quot;)">
						FREMARK 
					</if>
				</trim>
			</otherwise>
		</choose>
	</sql>
	<select id="countByCondition" parameterType="cn.elwy.common.entity.Condition" resultType="java.lang.Long">
		select count(*) from ect_user_config
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</select>
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select
		<include refid="Base_Column_List" />
		from ect_user_config
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
		<if test="orderRules != null">
			order by 
			<foreach collection="orderRules" item="item" separator=",">
				${item.field}
				<if test="item.desc">
					desc
				</if>
			</foreach>
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.elwy.common.entity.Condition">
		select 
		<include refid="Base_Column_List" />
		from ect_user_config
		where FID = #{_parameter.id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey">
		delete from ect_user_config
		where FID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys">
		delete from ect_user_config
		where FID in (<foreach collection="ids" item="id" open="(" close=")" separator=",">#{listItem}</foreach>)
	</delete>
	<delete id="deleteByCondition" parameterType="cn.elwy.common.entity.Condition">
		delete from ect_user_config
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.elwy.eplus.core.entity.UserConfig">
		insert into ect_user_config (FID, FUSER_ID, FCONF_CODE, FCONF_NAME, FVERSION, FENABLE, FDELETE_TIME, FEDIT_STATE, FCONTENT, FREMARK )
		values (
			#{id, jdbcType=VARCHAR}, 
			#{userId, jdbcType=VARCHAR}, 
			#{confCode, jdbcType=VARCHAR}, 
			#{confName, jdbcType=VARCHAR}, 
			#{version, jdbcType=INTEGER}, 
			#{enable, jdbcType=BIT}, 
			#{deleteTime, jdbcType=TIMESTAMP}, 
			#{editState, jdbcType=SMALLINT}, 
			#{content, jdbcType=CLOB}, 
			#{remark, jdbcType=VARCHAR} 
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.elwy.eplus.core.entity.UserConfig">
		insert into ect_user_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				FID,
			</if>
			<if test="userId != null">
				FUSER_ID,
			</if>
			<if test="confCode != null">
				FCONF_CODE,
			</if>
			<if test="confName != null">
				FCONF_NAME,
			</if>
			<if test="version != null">
				FVERSION,
			</if>
			<if test="enable != null">
				FENABLE,
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME,
			</if>
			<if test="editState != null">
				FEDIT_STATE,
			</if>
			<if test="content != null">
				FCONTENT,
			</if>
			<if test="remark != null">
				FREMARK
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId, jdbcType=VARCHAR},
			</if>
			<if test="confCode != null">
				#{confCode, jdbcType=VARCHAR},
			</if>
			<if test="confName != null">
				#{confName, jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version, jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				#{enable, jdbcType=BIT},
			</if>
			<if test="deleteTime != null">
				#{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editState != null">
				#{editState, jdbcType=SMALLINT},
			</if>
			<if test="content != null">
				#{content, jdbcType=CLOB},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByConditionSelective" parameterType="map">
		update ect_user_config
		<set>
			<if test="data.userId != null">
				FUSER_ID = #{data.userId, jdbcType=VARCHAR},
			</if>
			<if test="data.confCode != null">
				FCONF_CODE = #{data.confCode, jdbcType=VARCHAR},
			</if>
			<if test="data.confName != null">
				FCONF_NAME = #{data.confName, jdbcType=VARCHAR},
			</if>
			<if test="data.version != null">
				FVERSION = #{data.version, jdbcType=INTEGER},
			</if>
			<if test="data.enable != null">
				FENABLE = #{data.enable, jdbcType=BIT},
			</if>
			<if test="data.deleteTime != null">
				FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="data.editState != null">
				FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			</if>
			<if test="data.content != null">
				FCONTENT = #{data.content, jdbcType=CLOB},
			</if>
			<if test="data.remark != null">
				FREMARK = #{data.remark, jdbcType=VARCHAR}
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition" parameterType="map">
		update ect_user_config
		set 
			FUSER_ID = #{data.userId, jdbcType=VARCHAR},
			FCONF_CODE = #{data.confCode, jdbcType=VARCHAR},
			FCONF_NAME = #{data.confName, jdbcType=VARCHAR},
			FVERSION = #{data.version, jdbcType=INTEGER},
			FENABLE = #{data.enable, jdbcType=BIT},
			FDELETE_TIME = #{data.deleteTime, jdbcType=TIMESTAMP},
			FEDIT_STATE = #{data.editState, jdbcType=SMALLINT},
			FCONTENT = #{data.content, jdbcType=CLOB},
			FREMARK = #{data.remark, jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Condition_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.elwy.eplus.core.entity.UserConfig">
		update ect_user_config
		<set>
			<if test="userId != null">
				FUSER_ID = #{userId, jdbcType=VARCHAR},
			</if>
			<if test="confCode != null">
				FCONF_CODE = #{confCode, jdbcType=VARCHAR},
			</if>
			<if test="confName != null">
				FCONF_NAME = #{confName, jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				FVERSION = #{version, jdbcType=INTEGER},
			</if>
			<if test="enable != null">
				FENABLE = #{enable, jdbcType=BIT},
			</if>
			<if test="deleteTime != null">
				FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			</if>
			<if test="editState != null">
				FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			</if>
			<if test="content != null">
				FCONTENT = #{content, jdbcType=CLOB},
			</if>
			<if test="remark != null">
				FREMARK = #{remark, jdbcType=VARCHAR}
			</if>
		</set>
		where FID = #{id, jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.elwy.eplus.core.entity.UserConfig">
		update ect_user_config
		set 
			
			FUSER_ID = #{userId, jdbcType=VARCHAR},
			FCONF_CODE = #{confCode, jdbcType=VARCHAR},
			FCONF_NAME = #{confName, jdbcType=VARCHAR},
			FVERSION = #{version, jdbcType=INTEGER},
			FENABLE = #{enable, jdbcType=BIT},
			FDELETE_TIME = #{deleteTime, jdbcType=TIMESTAMP},
			FEDIT_STATE = #{editState, jdbcType=SMALLINT},
			FCONTENT = #{content, jdbcType=CLOB},
			FREMARK = #{remark, jdbcType=VARCHAR}
		where FID = #{id, jdbcType=VARCHAR}
	</update>
</mapper>